<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


<body>
<div id="body">

<br/>
	<div class="centered" style="max-width:800px">

		<form class="pure-form" action="#" >
			<fieldset>
				<div class="centered" style="width:95%">
					<div class="section group">
					
						<div class="col span_4">
							<label>Country</label>
							<select th:name="country">
								<option th:each="c : ${allCountries}" th:value="${c}" th:text="${c}" th:selected="${c == country}">
									[Colombia]
								</option> 
							</select>
						</div>
						
						<div class="col span_5">
							<label>Date</label>
							<input type="text" id="lafecha" th:name="lafecha" />
						</div>
						
					<div class="col span_3">
						<button type="submit" class="pure-button" onclick="handleForm()" >Update data</button>
					</div>
					
				</div>
			</div>
		</fieldset>
        <div id="layouts">Layout: </div>
	
	</form>

</div>

<table id="aLaFecha" class="pure-table pure-table-bordered centered">
</table>
<br/>

<script th:src="@{/webjars/d3.min.js}"></script>
<script th:src="@{/webjars/mylib.js}"></script>            
<script type="text/javascript">
$(function() {
    $( "#lafecha" ).datepicker({
        dateFormat: "yy-mm-dd"
    });
  });
</script>

<script type="text/javascript">
//<![CDATA[

    var tableSettings=[
            {
            name:           "Clients-Contracts",
            el:             "table#aLaFecha",
            caption:        function(){
                                return "Overview as of "+this.params.laFecha;
                            },
			cellValue:      function(id1,id2,id3,val){
                                    if (id2==0)
                                        return val;
                                    else 
     			    	                return "<a href='#installations/waiting?eventType="+id3+"&laFecha="+this.params.laFecha+"&contractId="+id2+"' >"+val+"</a>";
                            },
            colNameLevel1:  "Client",
            getKeyLevel1:   function(row){return [row.ClientName,row.ClientID];},

            colNameLevel2:   "Contract",
            getKeyLevel2:    function(row){return [row.ContractName,row.ContractID]},

            getKeyPivoted:   function(d){return d.Status;},

            colNamePivoted: function(d){
                                switch(d){
                                    case '':        return "Not started";
                                    case 'START':   return "Running";
                                    case 'STOP':    return "Not pulled";
                                    case 'PULL':    return "Waiting for teardown";
                                    case 'RCA':     return "Waiting for RCA";
                                    default:        return "Undefined";
                                }; 
                            },
            getValue:       function(row){return +row.Qty;},
            params:         {}
            },
            {
            name:           "Contracts-Fields",
            el:             "table#aLaFecha",
            caption:        function(){
                                return "Overview as of "+this.params.laFecha;
                            },
			cellValue:      function(id1,id2,id3,val){
                                    if (id2!=0 || id1==0)
                                        return val;
                                    else 
     			    	                return "<a href='#installations/waiting?eventType="+id3+"&laFecha="+this.params.laFecha+"&contractId="+id1+"' >"+val+"</a>";
                            },
            colNameLevel1:  "Contract",
            getKeyLevel1:   function(row){return [row.ClientName+"-"+row.ContractName,row.ContractID];},

            colNameLevel2:   "Field",
            getKeyLevel2:    function(row){return [row.FieldName,row.FieldID]},

            getKeyPivoted:   function(d){return d.Status;},

            colNamePivoted: function(d){
                                switch(d){
                                    case '':        return "Not started";
                                    case 'START':   return "Running";
                                    case 'STOP':    return "Not pulled";
                                    case 'PULL':    return "Waiting for teardown";
                                    case 'RCA':     return "Waiting for RCA";
                                    default:        return "Undefined";
                                }; 
                            },
            getValue:       function(row){return +row.Qty;},
            params:         {}
            }];

var params={
            laFecha:    "",
            country:    "",
            };


    // Update the form with saved settings if there are saved settings
    if (aLaFechaParams.hasOwnProperty("country")){
        $('fieldset select[name=country] option[value="'+aLaFechaParams.country+'"]').prop('selected',true);
        $('fieldset input[name=lafecha]').val(aLaFechaParams.laFecha);
    } else{
        aLaFechaSettingsNum=0;
        var dateFormat=d3.time.format("%Y-%m-%d");
        var laFecha=dateFormat(new Date());
        $('fieldset input[name=lafecha]').val(laFecha);
    };

    // Filling in the list with available layouts
    tableSettings.forEach(function(s,i){
            var selected="";
            if (tableSettings[aLaFechaSettingsNum].name == s.name)
                selected="checked";
            $("div#layouts").append("<label><input type='radio' name='layouts' onchange=changeLayout(this) "+selected+" value="+i+" />"+s.name+" </label>");
        })


    handleForm();

    function url(params){
        return "alafecha/csv?lafecha="+params.laFecha+"&country="+params.country;
    }

    function handleForm(){
    	aLaFechaParams["country"]=$('fieldset select[name=country] option:selected').val();
    	aLaFechaParams["laFecha"]=$('fieldset input[name=lafecha]').val();

        tableSettings[aLaFechaSettingsNum]["params"]=aLaFechaParams;
        d3.csv(url(aLaFechaParams),
                function(data) {
                    csv=data;
                    drawPivotedTable(tableSettings[aLaFechaSettingsNum],data);
                });
    };

    function changeLayout(el){
        aLaFechaSettingsNum=el.value;
        tableSettings[aLaFechaSettingsNum]["params"]=aLaFechaParams;
        drawPivotedTable(tableSettings[aLaFechaSettingsNum],csv);
    }
//]]>
</script>


</div>	
</body>

</html>
