<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
<meta charset="utf-8"/>
<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

.legend line {
  stroke: #000;
  shape-rendering: crispEdges;
}

</style>

<body>
<div id="body">

<label>Country</label>
<select onchange="drawChart4Country(this.value)">
<option th:each="country : ${allCountries}" th:value="${country}" th:text="${country}">
</option>

</select>


<div class="section group">

	<div class="section group">
		<div class="col span_6">
			<h3>Pull reasons</h3>
			<div id="pullReasonChart4Country"></div>
		</div>
		<div class="col span_6">
			<h3>Pull reasons</h3>
			<div id="pullReasonChart4CountryPie"></div>
		</div>
	
	</div>
	<div class="section group">
		<div class="col span_6">
			<h3>Client recognition of failures</h3>
			<div id="recognitionChart4Country"></div>
		</div>
		<div class="col span_6">
			<h3 id="contractselected"></h3>
			<div id="recognitionChart4Contract"></div>
		</div>
	</div>
	
	<div id="table"></div><br/>
	<div id="table1"></div><br/>
	<div id="table2"></div><br/>
	<div id="table3"></div><br/>
	<div id="table4"></div><br/>
	<div id="table5"></div><br/>
	
	<div id="table10"></div>
</div>



<script th:src="@{/webjars/d3.min.js}"></script>
<script th:inline="javascript">
//<![CDATA[

drawChart4Country(/*[[${allCountries[0]}]]*/null);

drawTable();


function drawChart4Country(country){
	drawRecognitionChart4Country(country);
	drawPullReasonChart4CountryPie(country);
	drawPullReasonChart4Country(country);
}


function drawRecognitionChart4Country(country){
	
// clear old data
var chartNode=document.getElementById("recognitionChart4Country");
while(chartNode.firstChild){
	chartNode.removeChild(chartNode.firstChild);
}


var margin = {top: 20, right: 100, bottom: 30, left: 40},
    width = 460 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

var y = d3.scale.linear()
    .rangeRound([height, 0]);

var color = d3.scale.ordinal()
    .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .tickFormat(d3.format(".0%"));

var svg = d3.select("#recognitionChart4Country").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


	
	
//d3.csv("webjars/data-test.csv", function(error, data) {
d3.csv("recognitions4country?country="+country, function(error, data) {
  if (error) throw error;
  
  // changed here
  color.domain(d3.keys(data[0]).filter(function(key) { return !((key == "Contract") || ( key == "Id")); }));

  data.forEach(function(d) {
    var y0 = 0;
    d.ages = color.domain().map(function(name) { return {name: name, y0: y0, y1: y0 += +d[name]}; });
    d.ages.forEach(function(d) { d.y0 /= y0; d.y1 /= y0; });
  });

  data.sort(function(a, b) { return b.ages[0].y1 - a.ages[0].y1; });

  x.domain(data.map(function(d) { return d.Contract; }));

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis);

  var state = svg.selectAll(".state")
      .data(data)
    .enter().append("g")
      .attr("class", "state")
      .attr("transform", function(d) { return "translate(" + x(d.Contract) + ",0)"; })
      .on('click',function(d){
    		
    	  	var chartTitle=document.getElementById("contractselected");
    	  	chartTitle.innerHTML="Contract "+d.Contract;
    	  	drawRecognitionChart4Contract(d.Id);
			});

  state.selectAll("rect")
      .data(function(d) { return d.ages; })
    .enter().append("rect")
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.y1); })
      .attr("height", function(d) { return y(d.y0) - y(d.y1); })
      .style("fill", function(d) { return color(d.name); });

  var legend = svg.select(".state:last-child").selectAll(".legend")
      .data(function(d) { return d.ages; })
    .enter().append("g")
      .attr("class", "chartlegend")
      .attr("transform", function(d) { return "translate(" + x.rangeBand() / 2 + "," + y((d.y0 + d.y1) / 2) + ")"; });

  legend.append("line")
      .attr("x2", 10);

  legend.append("text")
      .attr("x", 13)
      .attr("dy", ".35em")
      .text(function(d) { return d.name; });

});
};

function drawRecognitionChart4Contract(contract){
	
	// clear old data
	var chartNode=document.getElementById("recognitionChart4Contract");
	while(chartNode.firstChild){
		chartNode.removeChild(chartNode.firstChild);
	}


	var margin = {top: 20, right: 100, bottom: 30, left: 40},
	    width = 460 - margin.left - margin.right,
	    height = 500 - margin.top - margin.bottom;

	var x = d3.scale.ordinal()
	    .rangeRoundBands([0, width], .1);

	var y = d3.scale.linear()
	    .rangeRound([height, 0]);

	var color = d3.scale.ordinal()
	    .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

	var xAxis = d3.svg.axis()
	    .scale(x)
	    .orient("bottom");

	var yAxis = d3.svg.axis()
	    .scale(y)
	    .orient("left")
	    .tickFormat(d3.format(".0%"));

	var svg = d3.select("#recognitionChart4Contract").append("svg")
	    .attr("width", width + margin.left + margin.right)
	    .attr("height", height + margin.top + margin.bottom)
	  .append("g")
	    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


		
		
	//d3.csv("webjars/data-test.csv", function(error, data) {
	d3.csv("recognitions4contract?contract="+contract, function(error, data) {
	  if (error) throw error;
	  
	  color.domain(d3.keys(data[0]).filter(function(key) { return key !== "Year"; }));

	  data.forEach(function(d) {
	    var y0 = 0;
	    d.ages = color.domain().map(function(name) { return {name: name, y0: y0, y1: y0 += +d[name]}; });
	    d.ages.forEach(function(d) { d.y0 /= y0; d.y1 /= y0; });
	  });


	  x.domain(data.map(function(d) { return d.Year; }));

	  svg.append("g")
	      .attr("class", "x axis")
	      .attr("transform", "translate(0," + height + ")")
	      .call(xAxis);

	  svg.append("g")
	      .attr("class", "y axis")
	      .call(yAxis);

	  var state = svg.selectAll(".state")
	      .data(data)
	    .enter().append("g")
	      .attr("class", "state")
	      .attr("transform", function(d) { return "translate(" + x(d.Year) + ",0)"; });

	  state.selectAll("rect")
	      .data(function(d) { return d.ages; })
	    .enter().append("rect")
	      .attr("width", x.rangeBand())
	      .attr("y", function(d) { return y(d.y1); })
	      .attr("height", function(d) { return y(d.y0) - y(d.y1); })
	      .style("fill", function(d) { return color(d.name); });

	  var legend = svg.select(".state:last-child").selectAll(".legend")
	      .data(function(d) { return d.ages; })
	    .enter().append("g")
	      .attr("class", "chartlegend")
	      .attr("transform", function(d) { return "translate(" + x.rangeBand() / 2 + "," + y((d.y0 + d.y1) / 2) + ")"; });

	  legend.append("line")
	      .attr("x2", 10);

	  legend.append("text")
	      .attr("x", 13)
	      .attr("dy", ".35em")
	      .text(function(d) { return d.name; });

	});
	};

	
	function drawPullReasonChart4Country(country){
		
		// clear old data
		var chartNode=document.getElementById("pullReasonChart4Country");
		while(chartNode.firstChild){
			chartNode.removeChild(chartNode.firstChild);
		}


		var margin = {top: 20, right: 100, bottom: 30, left: 40},
		    width = 400 - margin.left - margin.right,
		    height = 400 - margin.top - margin.bottom;

		var x = d3.scale.ordinal()
		    .rangeRoundBands([0, width], .1);

		var y = d3.scale.linear()
		    .rangeRound([height, 0]);

		var color = d3.scale.ordinal()
		    .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

		var xAxis = d3.svg.axis()
		    .scale(x)
		    .orient("bottom");

		var yAxis = d3.svg.axis()
		    .scale(y)
		    .orient("left")
		    .tickFormat(d3.format(".0%"));

		var svg = d3.select("#pullReasonChart4Country").append("svg")
		    .attr("width", width + margin.left + margin.right)
		    .attr("height", height + margin.top + margin.bottom)
		  .append("g")
		    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


		d3.csv("pullreasons4country?country="+country, function(error, data) {
		  if (error) throw error;
		  
		  color.domain(d3.keys(data[0]).filter(function(key) { return !((key == "Contract") || ( key == "Id")); }));

		  data.forEach(function(d) {
		    var y0 = 0;
		    d.ages = color.domain().map(function(name) { return {name: name, y0: y0, y1: y0 += +d[name]}; });
		    d.ages.forEach(function(d) { d.y0 /= y0; d.y1 /= y0; });
		  });


		  x.domain(data.map(function(d) { return d.Contract; }));

		  svg.append("g")
		      .attr("class", "x axis")
		      .attr("transform", "translate(0," + height + ")")
		      .call(xAxis);

		  svg.append("g")
		      .attr("class", "y axis")
		      .call(yAxis);

		  var state = svg.selectAll(".state")
		      .data(data)
		    .enter().append("g")
		      .attr("class", "state")
		      .attr("transform", function(d) { return "translate(" + x(d.Contract) + ",0)"; });

		  state.selectAll("rect")
		      .data(function(d) { return d.ages; })
		    .enter().append("rect")
		      .attr("width", x.rangeBand())
		      .attr("y", function(d) { return y(d.y1); })
		      .attr("height", function(d) { return y(d.y0) - y(d.y1); })
		      .style("fill", function(d) { return color(d.name); });

		  var legend = svg.select(".state:last-child").selectAll(".legend")
		      .data(function(d) { return d.ages; })
		    .enter().append("g")
		      .attr("class", "chartlegend")
		      .attr("transform", function(d) { return "translate(" + x.rangeBand() / 2 + "," + y((d.y0 + d.y1) / 2) + ")"; });

		  legend.append("line")
		      .attr("x2", 10);

		  legend.append("text")
		      .attr("x", 13)
		      .attr("dy", ".35em")
		      .text(function(d) { return d.name; });

		});
		};
	
	function drawPullReasonChart4CountryPie(country){
		
		// clear old data
		var chartNode=document.getElementById("pullReasonChart4CountryPie");
		while(chartNode.firstChild){
			chartNode.removeChild(chartNode.firstChild);
		}	
		
		var width = 400,
	    height = 400,
	    radius = Math.min(width, height) / 2;

		var color = d3.scale.ordinal()
		    .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);
	
		var arc = d3.svg.arc()
		    .outerRadius(radius - 10)
		    .innerRadius(0);
	
		var pie = d3.layout.pie()
		    .sort(null)
		    .value(function(d) { return d.qty; });
	
		var svg = d3.select("#pullReasonChart4CountryPie").append("svg")
		    .attr("width", width)
		    .attr("height", height)
		  .append("g")
		    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");
	
		d3.csv("pullreasons4countrypie?country="+country, function(error, data) {
	
		  data.forEach(function(d) {
		    d.qty = +d.qty;
		  });
	
		  var g = svg.selectAll(".arc")
		      .data(pie(data))
		    .enter().append("g")
		      .attr("class", "arc");
	
		  g.append("path")
		      .attr("d", arc)
		      .style("fill", function(d) { return color(d.data.pullreason); });
	
		  g.append("text")
		      .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })
		      .attr("dy", ".35em")
		      .style("text-anchor", "middle")
		      .text(function(d) { return d.data.pullreason+", "+d.data.qty+"ea"; });
	
	});

	};	
		
		
		
		
	
	function drawTable(){
		
		
		d3.csv("csvstatistics", function(csv) {

//==============================================================			
			 var data=d3.nest()
			 	.key(function(d){return d.Contract;})
			 	.sortKeys(d3.ascending)
			 	.rollup(function(d){
			 		return {Qty: d3.sum(d,function(g){return +g.Qty})}
			 	})			 	
			 	.entries(csv);
			

			 var table=d3.select("#table").append("table");
			 
			 var rows=table.selectAll("tr")
			 	.data(data).enter().append("tr");
			 
			 var cell=rows.selectAll("td")
			 	.data(function(row){
			 						return [row.key, row.values.Qty];
			 						})
			 	.enter()	
			 	.append("td")
			 	.text(function(d){return d});
//=========Table with grouping printing //////////////////////////////////
	
			 var data=d3.nest()
			 	.key(function(d){return d.Contract;})
			 	.key(function(d){return d.Year;})
			 	.sortKeys(d3.ascending)
			 	.rollup(function(d){
			 		return {Qty: d3.sum(d,function(g){return +g.Qty})}
			 	})			 	
			 	.entries(csv);
			
			console.log(data);

			 var table=d3.select("#table1").datum(data).append("table");
			 
			 var rows=table.selectAll("tr")
			 	.data(function(data){
			 				var rows=[];
//			 				rows.push
			 				for (i=0;i<data.length;i++){
								var totalKey2=0;
			 					for (j=0;j<data[i].values.length;j++){	
									rows.push({key1: data[i].key, key2:data[i].values[j].key, value: data[i].values[j].values.Qty });
									totalKey2+=data[i].values[j].values.Qty;
			 					}
			 					rows.push({key1: data[i].key, key2:"Total", value: totalKey2});
			 				}
			 				return rows;
			 			})
			 	.enter().append("tr");
			 	
			 
//			 var rows2=rows.selectAll("tr").data(function(row){return row.values;}).enter().append("tr");
			
			 
			 var cell=rows.selectAll("td")
			 	.data(function(row){
			 						return [row.key1, row.key2, row.value];
			 						})
			 	.enter()	
			 	.append("td")
			 	.text(function(d){return d});
			 

			 
//==		Simple table printing ////////////////////////////////				 
			 var table1=d3.select("#table10").append("table"),
			 		thead1=table1.append("thead"),
			 		tbody1=table1.append("tbody");
			 
			 var columns1=d3.keys(csv[0]);
			 thead1.append("tr").selectAll("th").data(columns1).enter().append("th").text(function(column){return column;});
			 var rows=tbody1.selectAll("tr").data(csv).enter().append("tr");
			 
			 var cells=rows.selectAll("td").data(function(row){
			 										return columns1.map(function(column){
			 																return { column: column, value: row[column]};
			 															})
			 										})
			 			.enter().append("td").text(function(d){return d.value;});
			 
//			 var row=table.append("row");
			 
//			 row.selectAll("td").data(data).enter().append("td").text(function(d){return d.key});
//			 row=table.append("row");
//			 row.selectAll("td").data(data).enter().append("td").text(function(d){return d.values.Qty});
//			 var row=table.selectAll("tr").data(data).enter().append("tr");
//			 row.selectAll("td").data(d.Qty).enter().append("td");
//			 row.selectAll("td").data(function(d){return d.values}).enter().append("td").text(function(d){return d.Qty});

		});	 
	};
	
	
//]]>
</script>
</div>
</body>
</html>