<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
<meta charset="utf-8"/>


<style>

#chart1 rect {
	fill: steelblue;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  stroke: #000;
  shape-rendering: crispEdges;
  fill: none;
}

.x.axis path {
  display: none;
}



</style>

<body>
<div id="body">

<label>Country</label>
<select onchange="drawChart4Country(this.value)">
<option th:each="country : ${allCountries}" th:value="${country}" th:text="${country}">
</option>

</select>


<div class="section group">

	<div class="section group">
		<div class="col span_6">
			<h3>Pull reasons</h3>
			<div id="chart"></div>
		</div>
		<div class="col span_6">
			<h3>Pull reasons</h3>
			<div id="chart"></div>
		</div>
	
	</div>
	<div class="section group">
		<div class="col span_6">
			<h3>Client recognition of failures</h3>
			<div id="recognitionChart4Country"></div>
		</div>
		<div class="col span_6">
			<h3 id="contractselected"></h3>
			<div id="recognitionChart4Contract"></div>
		</div>
	</div>
	

	<div id="chart1"></div><br/>
	<div id="table2"></div><br/>
	<div id="table3"></div><br/>
	<div id="table4"></div><br/>
	<div id="table5"></div><br/>
	
	<div id="table10"></div>
</div>



<script th:src="@{/webjars/d3.min.js}"></script>
<script th:inline="javascript">
//<![CDATA[

           
	var margin = {top: 20, right: 30, bottom: 40, left: 40},
		height = 420,
    	barWidth = 40;




	d3.csv("teardownsstat", function(csv) {
  
	  
	  var data = d3.nest()
	  .key(function(d) { return d.Contract; })
//	  .key(function(d) { return d.Rootcause; })
	  .sortKeys(d3.ascending)
	  .rollup(function(d){
						return d3.sum(d,function(g){return +g.Qty})
	  					})
	  .entries(csv);

	  var rootCauses = d3.map(d3.nest()
	  	.key(function(d){ return d.Rootcause;})
	  	.map(csv)).keys();

	  var data2 = d3.nest()
	  .key(function(d) { return d.Contract; })
	  .key(function(d) { return d.Rootcause; })
	  .sortKeys(d3.ascending)
	  .rollup(function(d){
						return d3.sum(d,function(g){return +g.Qty})
	  					})
	  .entries(csv);
	  console.log(data2);
	  
	  
	  
	  var width = barWidth * data.length;	  

	  var x = d3.scale.ordinal()
	  	.domain(data.map(function(d) { return d.key; }))
	    .rangeRoundBands([0, width], .1);
	  
	  var xAxis = d3.svg.axis()
	    .scale(x)
	    .orient("bottom");

	  var color = d3.scale.category20();
	  
	  var insertLinebreaks = function (t, d, width) {
		    var el = d3.select(t);
		    var p = d3.select(t.parentNode);
		    p.append("foreignObject")
		        .attr('x', -width/2)
		         .attr('y', 8)
		        .attr("width", width)
		        .attr("height", 40)
		      .append("xhtml:p")
		        .attr('style','word-wrap: break-word; text-align:center; font:10px sans-serif;margin: 0;')
		        .html(d);    

		    el.remove();

		};
	  
	  
	  
	  var y = d3.scale.linear()
	    .domain([0, d3.max(data, function(d){return d.values;})])
	    .range([height,0]);
	  
	  var yAxis = d3.svg.axis()
	    .scale(y)
	    .orient("left");
	  
	  
	  var chart = d3.select("#chart1").append("svg")
	    .attr("width", width+margin.left+margin.right)
	    .attr("height", height+margin.top+margin.bottom)
	   .append("g")
	    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

	  chart.append("g")
      .attr("class", "y axis")
      .call(yAxis);
	  
	  var bar = chart.selectAll(".bar")
	    .data(data)
	  .enter().append("rect")
	    .attr("class", "bar")
		.attr("x", function(d){return x(d.key)})
	    .attr("y", function(d){return y(d.values)})
	    .attr("height", function(d){return height-y(d.values);})
	    .attr("width", x.rangeBand());



		  chart.append("g")
	      .attr("class", "x axis")
	      .attr("transform", "translate(0," + height + ")")
	      .call(xAxis);  
		
		  d3.select('.x.axis')
		    .selectAll('text')
		        .each(function(d,i){ insertLinebreaks(this, d, x.rangeBand()); });

		  
		  
		
/*		bar.append("text")
	    .attr("x", function(d) { return x(d.values) - 3; })
	    .attr("y", barHeight / 2)
	    .attr("dy", ".75em")
	    .text(function(d) { return d.key+": "+d.values; });
*/
		
/*		chart.append("g")
	    .attr("class", "axis")
	    .call(yAxis)
	  .select(".tick line")
	    .style("stroke", "#000");
	  
*/           
	})           
           
           
           
           
           
           
           
           
/*           
var margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

var y = d3.scale.linear()
    .rangeRound([height, 0]);

var color = d3.scale.category20();
//	.ordinal()
//    .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .tickFormat(d3.format(".2s"));

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

d3.csv("data.csv", function(error, data) {
  if (error) throw error;

  var rootcausesByContract = d3.nest()
  .key(function(d) { return d.contract; })
  .key(function(d) { return d.rootcause; })
  .rollup(function(d){
					return {qty : d3.sum(d,function(g){return +g.qty})}
  					})
  .entries(csv);
  
  var rootCauses= d3.nest()
  	.key(function(d){ return d.rootcause};)
  	.entries(csv);
  
  
//  color.domain(d3.keys(data[0]).filter(function(key) { return key !== "State"; }));
	color.domain(d3.keys(rootCauses));
	
	
	
  data.forEach(function(d) {
    var y0 = 0;
    d.ages = color.domain().map(function(name) { return {name: name, y0: y0, y1: y0 += +d[name]}; });
    d.total = d.ages[d.ages.length - 1].y1;
  });

  data.sort(function(a, b) { return b.total - a.total; });

  x.domain(data.map(function(d) { return d.State; }));
  y.domain([0, d3.max(data, function(d) { return d.total; })]);

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Population");

  var state = svg.selectAll(".state")
      .data(data)
    .enter().append("g")
      .attr("class", "g")
      .attr("transform", function(d) { return "translate(" + x(d.State) + ",0)"; });

  state.selectAll("rect")
      .data(function(d) { return d.ages; })
    .enter().append("rect")
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.y1); })
      .attr("height", function(d) { return y(d.y0) - y(d.y1); })
      .style("fill", function(d) { return color(d.name); });

  var legend = svg.selectAll(".legend")
      .data(color.domain().slice().reverse())
    .enter().append("g")
      .attr("class", "legend")
      .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

  legend.append("rect")
      .attr("x", width - 18)
      .attr("width", 18)
      .attr("height", 18)
      .style("fill", color);

  legend.append("text")
      .attr("x", width - 24)
      .attr("y", 9)
      .attr("dy", ".35em")
      .style("text-anchor", "end")
      .text(function(d) { return d; });

});

           
*/           
           
           
           
           
           
           
           
           
           
           
/*
var width = 960,
height = 500,
radius = Math.min(width, height) / 2;

var color = d3.scale.category20();

var pie = d3.layout.pie()
.value(function(d) { return d.qty; })
.sort(null);

var arc = d3.svg.arc()
.innerRadius(radius - 100)
.outerRadius(radius - 20);

var svg = d3.select("#chart1").append("svg")
.attr("width", width)
.attr("height", height)
.append("g")
.attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

var path = svg.selectAll("path");

d3.csv("teardownsstat", function(error, csv) {

	var rootcausesByContract = d3.nest()
	  .key(function(d) { return d.contract; })
	  .key(function(d) { return d.rootcause; })
	  .rollup(function(d){
						return {qty : d3.sum(d,function(g){return +g.qty})}
	  					})
	  .entries(csv);
	
	
	var label = d3.select("form").selectAll("label")
	.data(rootcausesByContract)
	.enter().append("label");
	
	label.append("input")
	  .attr("type", "radio")
	  .attr("name", "Contract")
	  .attr("value", function(d) { return d.key; })
	  .on("change", change)
	  .filter(function(d, i) { return !i; })
	  .each(change)
	  .property("checked", true);
	
	label.append("span")
	  .text(function(d) { return d.key; });
	
	function change(region) {
		path = path.data(pie(region.values), function(d) { return d.data.region; });
		path.enter().append("path").attr("fill", function(d) { return color(d.data.region); });
		path.exit().remove();
		path.attr("d", arc);
	}

});
*/


	
//]]>
</script>
</div>
</body>
</html>