<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>


<body>
<div id="body">


<script>
	$(document).ready(function(){
    	$(".editbtn").click(function(){

			$("input[name='id']").attr("value",$(this).parent().siblings().filter("#id").text());
			var country = $(this).parent().siblings().filter("#country").text();
			$("#country option[value="+country+"]").prop('selected', true);
			$("input[name='name']").val($(this).parent().siblings().filter("#name").text());
			$("input[name='taxId']").val($(this).parent().siblings().filter("#taxid").text());			
			$("button[name='save']").html("Save changes");
	
			//remove old error messages
			$("ul#errors").remove();

		});
    	$(".clearbtn").click(function(){

    		$("#country option[value='']").prop('selected', true);
			$("input[name='name']").val("");
			$("input[name='taxId']").val("");
			$("button[name='save']").html("Add Client");
	
			//remove old error messages
			$("ul#errors").remove();
    	});
	});
</script>

<div class="centered" style="max-width:900px">
	
 	<form class="pure-form pure-form-stacked" action="#" th:action="@{clients/save}" th:object="${client}" method="post">
 		<input hidden="hidden" id="id" th:field="*{id}"/>

			<div class="legend">Add/Update clients</div>	
		<fieldset>
	
			<ul id="errors" class="list-unstyled" th:if="${#fields.hasErrors('*')}">
		    	<li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerror : fielderror">
		        	<span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> :
		        	<span th:text="${e.message}">The error message</span>
		    	</li>
			</ul>

		
	   		<div class="centered" style="width:95%">
	   			<div class="section group"> 
	   			
	    			<div class="col span_2">   
	  					<label for="country">Country</label>
        				<select class="pure-input-1" th:field="*{country}" th:errorclass="fieldError" >
        					<option value=""></option>
            				<option th:each="country : ${allCountries}"
            						th:value="${country}"
            						th:text="${country}">
            				</option>		
            			</select>
           			</div>
           			
           			<div class="col span_3">   
       					<label for="name"> Client Name</label>
        				<input class="pure-input-1" type="text" th:field="*{name}" th:errorclass="fieldError" />
        			</div>
        			
           			<div class="col span_2">   
     					<label for="taxId">   Tax ID</label>		
        				<input class="pure-input-1" type="text" th:field="*{taxId}" th:errorclass="fieldError" />
       	 			</div>

		           <div class="col span_5"> 
        			   <label>Action</label> 
          				 <div class="section">
							<div class="col span_6">
        						<button type="submit" class="pure-button pure-input-1" name="save" th:text="*{id == 0}? 'Add Client' : 'Save changes'">[Add Client]</button>
        					</div>
        					<div class="col span_6">
        						<input type="button" class="pure-button pure-input-1 clearbtn" name="reset" value="Reset"/>
        					</div>
        				</div>
  					</div>
  				</div>
  			</div>	
		</fieldset>
	</form>
	
  
  <table class="pure-table pure-table-striped centered">
  	<caption>List of clients</caption>
    <thead>
      <tr>
        <th>id</th>
        <th>Country</th>
        <th>Client Name</th>
        <th>Tax ID</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="client : ${allClients}">
        <td id="id" th:text="${client.id}">123</td>
        <td id="country" th:text="${client.country}">[Colombia]</td>
        <td id="name" th:text="${client.name}">[Ecopetrol]</td>     
        <td id="taxid" th:text="${client.taxId}">[987654321-12]</td>
        <td>
       		<input type="button" class="btn btn-smaller editbtn" value="Edit"/>
        </td>
      </tr>
    </tbody>
  </table>


</div>




</div>
</body>

</html>
