<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>


<body>
<div id="body">

<script>
	$(document).ready(function(){
    	$(".editbtn").click(function(){

			$("input[name='id']").attr("value",$(this).parent().siblings("#id").text());
			var client = $(this).parent().siblings("#client").text();
			$("select[name='client.id'] option[value="+client+"]").prop('selected', true);
			$("input[name='name']").val($(this).parent().siblings("#name").text());
			$("input[name='failureTypes']").val($(this).parent().siblings("#failureTypes").text());
			$("input[name='startingDate']").val($(this).parent().siblings("#startingdate").text());
			$("input[name='isClosed']").prop("checked",($(this).parent().siblings("#isClosed").children("input").prop('checked')));
			$("button[name='save']").html("Save changes");
	
			//remove old error messages
			$("ul#errors").remove();

		});
    	$(".clearbtn").click(function(){

    		$("select[name='client.id'] option[value='0']").prop('selected', true);
			$("input[name='name']").val("");
			$("input[name='failureTypes']").val("");
			$("input[name='startingDate']").val("");
			$("input[name='isClosed']").prop('checked', false);
			$("button[name='save']").html("Add Contract");
	
			//remove old error messages
			$("ul#errors").remove();
    	});
	});
</script>


<div class="centered" style="max-width:900px">

	 	<form class="pure-form pure-form-stacked" action="#" th:action="@{/contracts/save}" th:object="${contract}" method="post">
	 	<input hidden="hidden" id="id" th:field="*{id}"/>


		<div class="legend">Add/Update contract</div>		
		<fieldset>
		
			<div class="centered" style="width:95%">
				<ul id="errors" class="list-unstyled" th:if="${#fields.hasErrors('*')}">
				    	<li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerror : fielderror">
			        	<span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> :
			        	<span th:text="${e.message}">The error message</span>
			    	</li>
				</ul>
				<div class="section group">		
					<div class="col span_3">
						<label>Client</label>
						<select class="pure-input-1" th:field="*{client.id}" th:errorclass="fieldError" >
							<option value="0"></option>
			   				<option th:each="client : ${allClients}"
			   						th:value="${client.id}"
			   						th:text="${client.country}+'-'+${client.name}">
			   				</option>		
				        </select>
					</div>
					<div class="col span_3">
						<label>Contract Name</label>
						<input class="pure-input-1" type="text" th:field="*{name}" th:errorclass="fieldError" />
					</div>
					<div class="col span_2">
						<label>Starting Date</label>
						<input class="pure-input-1" type="text" th:field="*{startingDate}" th:errorclass="fieldError" />
					</div>
					<div class="col span_2">
						<label>Failure types</label>
						<input class="pure-input-1" type="text" th:field="*{failureTypes}" th:errorclass="fieldError" />
					</div>
					<div class="col span_2">
						<label>Closed?</label>
						<input class="pure-input-1" type="checkbox" th:field="*{isClosed}" th:errorclass="fieldError" />
					</div>
				</div>
				
		        <button type="submit" class="pure-button" name="save" th:text="*{id == 0}? 'Add Contract' : 'Save changes'">[Add Contract]</button>
		        <input type="button" class="pure-button clearbtn" name="reset" value="Reset"/>
			</div>
		</fieldset>
	</form>
	
	
	
	
		<div class="page-header">
			<h2>List of contracts</h2>
		</div>
	
	
	  
	  <table class="pure-table pure-table-striped centered">
	    <thead>
	      <tr>
	        <th>id</th>
	        <th>Client</th>
	        <th>Contract#</th>
	        <th>Starting date</th>
	        <th>Fields</th>
	        <th>Failure classification</th>
	        <th>Closed?</th>
	        <th>Action</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr th:each="contract : ${allContracts}">
	        <td id="id" th:text="${contract.id}">123</td>
	        <td hidden="hidden" id="client" th:text="${contract.client.id}"></td>
	        <td th:text="${contract.client.country}+'-'+${contract.client.name}">Jhon</td>
	        <td id="name" th:text="${contract.name}">[Colombia]</td>
	        <td id="startingdate" th:text="${contract.startingDate}">[2015-05-05]</td>
	        <td><a th:href="@{#contracts/{id}/fields(id=${contract.id})}" th:text="${contract.fieldsString !=''} ? ${contract.fieldsString} : '...' " class="ajax"	>[Apiay, Castilla]</a></td>
	        <td id="failureTypes" th:text="${contract.failureTypes}">[Direct,Indirect]</td>
	        <td style="text-align:center" id="isClosed"><input type="checkbox" disabled="disabled" th:checked="${contract.isClosed}"/></td>
	        <td>
	       		<input type="button" class="btn btn-smaller editbtn" value="Edit"/>
	        </td>
	      </tr>
	    </tbody>
	  </table>


</div>

<script>
	$(function() {
	    $( "#startingDate" ).datepicker({
	    	dateFormat: "yy-mm-dd"
	    });
	  });
</script>

<script type="text/javascript">
//<![CDATA[
	if (window.location.hash != "#contracts"){
		ignorehashchange=true
		window.location.hash="contracts";
		
	}
	//]]>
</script>



</div>
</body>

</html>
