<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>



<body>
<div id="body">


	<div class="page-header centered">
		<h2 style="text-align: center;">Fields for the contract <span th:text="${contract.fullName}"></span></h2>
	</div>

	<form action="#" th:action="@{/contracts/{id}/savefields(id=${contract.id})}" th:object="${fields}" method="post">
	
		<table class="pure-table pure-table-striped centered">
		    <thead>
		      <tr>
		      	<th>Country</th>
		        <th>Field</th>
		        <th>Belongs?</th>
		      </tr>
		    </thead>
		    <tr th:each="field,fieldStat : ${fields}">
		    	<td th:text="${field.key.country}">[Country]</td>
		    	<td th:text="${field.key.name}">[CA-123]</td>
		        <td style="text-align:center"><input type="checkbox" th:name="${field.key.id}" th:checked="${field.value}"/></td>
		      </tr>
		</table>
		<div style="text-align:center;margin:8px">
			<button type="submit" class="pure-button">Save fields</button>
		</div>
	</form>


</div>
</body>

</html>
