<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">


<head>
    <title>RunlifeTracker forever!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>


<body>
<div id="body">

	<div class="section group">
	<div class="col span_9">
	
	 	<form class="pure-form" action="#" th:action="@{/installations/sensorevent}" th:object="${event}" method="post">
	 		<input hidden="hidden" th:field="*{id}"/>
	 		<input hidden="hidden" th:field="*{installation}"/>
	 		<input hidden="hidden" th:field="*{eventType}"/>
	 		<input hidden="hidden" th:field="*{createdBy}"/>
	 		<input hidden="hidden" th:field="*{updatedBy}"/>
	 		<input hidden="hidden" th:field="*{createdDate}"/>
	 		<input hidden="hidden" th:field="*{updatedDate}"/>
	
		    <div class="legend">Sensor failure</div>
			<fieldset th:disabled="${#authorization.expression('!hasAnyRole(''ROLE_ADMIN'', ''ROLE_AP_ENGINEER'')')}">
		        		
		        <ul id="errors" class="list-unstyled" th:if="${#fields.hasErrors('*')}">
			    	<li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerror : fielderror">
			        	<span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> :
			        	<span th:text="${e.message}">The error message</span>
			    	</li>
				</ul>
					
				<div class="container">	
				<div class="section group">
					<div class="col span_4">
						
						<div class="section group">
			          		<div class="col span_3">
			          			Field
			          		</div>
			          		<div class="col span_9">
			          			<input type="text" readonly="readonly" th:value="*{installation.well.field.name}" value="Chichimene" class="width-100"/>
			       			</div>
			       		</div>
			       		
			       		
			       		<div class="section group">
			          		<div class="col span_3">
			          			Well
			          		</div>
			          		<div class="col span_9">
			          			<input type="text" readonly="readonly" th:value="*{installation.well.name}" value="[CHSW-025]" class="width-100"/>
			          		</div>
			          	</div>
			          	
			          	
			          	<div class="section group">
			          		<div class="col span_3">
			          			Sensor failure date
			          		</div>
			          		<div class="col span_9">
			          			<input type="text" th:field="*{eventDate}" required="required" class="width-100" th:errorclass="input-error"	/>
			          		</div>
			          	</div>	
			          	
			          				
					</div>
						
					<div class="col span_8">	
			       		Note
		       			<textarea rows="8" th:field="*{note}">
		       				Some note
		    			</textarea>

			       	  	
					</div>
			
					      	
		       		<div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_AP_ENGINEER')">
		        		<button type="submit" name="save" class="pure-button">Save sensor failure</button>
		        		<button type="submit" name="delete" class="pure-button">Delete sensor failure</button>
		        		     
		        	</div>
		        	
			        <p class="log" th:if="*{id} != '0'">
			        	<span th:text="'Created '+*{createdDate}+' by '+*{createdBy}">
			          			[Created 2015-04-12 by Pedro Perez]
			        	</span><br/>
			        	<span th:text="'Updated '+*{updatedDate}+' by '+*{updatedBy}">
			          			[Updated 2015-04-12 by Pedro Perez]
			        	</span>
			        </p>
			  	</div> 
			  	</div>
			</fieldset>
	
		</form>
	</div>
	<div class="col span_3">	  		
		<table class="pure-table pure-table-striped centered">
			<caption>Installation history</caption>
			<thead>
				<tr>
					<th>Event</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Installed</td>
					<td><a	href="installation-edit.html"
						 	th:href="@{#installations/{id}/edit(id=${event.installation.id})}"
							th:text="${event.installation.instDate}" class="ajax">
								[2015-08-12]
						</a>
					</td>
				</tr>
				<tr>
					<td>Started</td>
					<td><a 	href="event-start.html" 
							th:href="@{#installations/{id}/startevent(id=${event.installation.id})}" 
							th:text="${event.installation.startEvent != null}? ${event.installation.startEvent.eventDate}" class="ajax">
								[2015-08-13]
						</a>
					</td>
				</tr>
				<tr>
					<td>Sensor failed</td>
					<td th:text="${event.installation.sensorEvent != null}? ${event.installation.sensorEvent.eventDate}">
						[2015-08-14]
					</td>
				</tr>
				<tr>
					<td>Stopped</td>
					<td><a 	href="event-stop.html" 
							th:href="@{#installations/{id}/stopevent(id=${event.installation.id})}" 
							th:text="${event.installation.stopEvent != null}? ${event.installation.stopEvent.eventDate}" class="ajax">
								[2015-08-13]
						</a>
					</td>
				</tr>
				<tr>
					<td>Pulled</td>
					<td><a 	href="event-pull.html" 
							th:href="@{#installations/{id}/pullevent(id=${event.installation.id})}" 
							th:text="${event.installation.pullEvent != null}? ${event.installation.pullEvent.eventDate}" class="ajax">
								[2015-08-13]
						</a>
					</td>
				</tr>
				<tr>
					<td>Teardown</td>
					<td><a 	href="event-rca.html" 
							th:href="@{#installations/{id}/rcaevent(id=${event.installation.id})}" 
							th:text="${event.installation.rcaEvent != null}? ${event.installation.rcaEvent.eventDate}" class="ajax">
								[2015-08-15]
						</a>
					</td>
				</tr>
				<tr>
					<td>RCA</td>
					<td><a 	href="event-client.html" 
							th:href="@{#installations/{id}/clientevent(id=${event.installation.id})}" 
							th:text="${event.installation.clientEvent != null}? ${event.installation.clientEvent.eventDate}" class="ajax">
								[2015-08-15]
						</a>
					</td>
				</tr>
			
			</tbody>
		</table>
	</div>
</div>
	<script sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_AP_ENGINEER')" type="text/javascript">
	$(function() {
	    $( "#eventDate" ).datepicker({
	    	dateFormat: "yy-mm-dd"
	    });
	  });
	</script>

</div>
</body>

</html>
