<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">


<head>
    <title>RunlifeTracker forever!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>


<body>
<div id="body">

<div class="section group">
<div class="col span_9">
 	<form class="pure-form" action="#" th:action="@{/installations/rcaevent}" th:object="${event}" method="post">
 		<input hidden="hidden" th:field="*{id}"/>
 		<input hidden="hidden" th:field="*{installation}"/>
 		<input hidden="hidden" th:field="*{eventType}"/>
 		<input hidden="hidden" th:field="*{createdBy}"/>
 		<input hidden="hidden" th:field="*{updatedBy}"/>
 		<input hidden="hidden" th:field="*{createdDate}"/>
 		<input hidden="hidden" th:field="*{updatedDate}"/>
		
		

        <div class="legend">Teardown/Failure analysis</div>		
		<fieldset th:disabled="${#authorization.expression('!hasAnyRole(''ROLE_ADMIN'', ''ROLE_DIFA_ENGINEER'')')}">

	        <ul id="errors" class="list-unstyled" th:if="${#fields.hasErrors('*')}">
		    	<li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerror : fielderror">
		        	<span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> :
		        	<span th:text="${e.message}">The error message</span>
		    	</li>
			</ul>
			<div class="container">			
			<div class="section group">
				<div class="col span_6">
					
					<div class="section group">
		          		<div class="col span_5">
		          			Field
		          		</div>
		          		<div class="col span_7">
		          			<input type="text" readonly="readonly" th:value="*{installation.well.field.name}" value="Chichimene" class="width-100"/>
		       			</div>
		       		</div>
		       		
		       		
		       		<div class="section group">
		          		<div class="col span_5">
		          			Well
		          		</div>
		          		<div class="col span_7">
		          			<input type="text" readonly="readonly" th:value="*{installation.well.name}" value="[CHSW-025]" class="width-100"/>
		          		</div>
		          	</div>
		          	
		          	
		          	<div class="section group">
		          		<div class="col span_5">
		          			Teardown report date
		          		</div>
		          		<div class="col span_7">
		          			<input type="text" th:field="*{eventDate}" required="required" class="width-100" th:errorclass="input-error"	/>
		          		</div>
		          	</div>	
		          		
		          		
		          	<div class="section group" id="rootCause">
		          		<div class="col span_5">	
		          			Failure root cause
		          		</div>
		          		<div class="col span_7">
		          			<input type="hidden" th:value="*{rootCause}" id="savedRootCause"/>
		          			<select th:field="*{rootCause}" onchange="setSubRootCauses(this.value)">
	       						<option value=""></option>
	           					<option th:each="rootcause : ${T(ru.shaposhnik.runlifetracker.model.FailureCausesEnum).values()}"
	           							th:value="${rootcause}"
	           							th:text="${rootcause.label}"
	           							th:disabled="${!rootcause.isEnabled}">
	           					</option>		
	           				</select>
		          		</div>
		          	</div>
		          	
		          	<div class="section group" id="rootCause2">
		          		<div class="col span_5">	
		          			Failure root cause details
		          		</div>
		          		<div class="col span_7">
		          			<input type="hidden" th:value="*{subRootCause}" id="savedSubRootCause" />
		          			<select th:field="*{subRootCause}" id="subRootCause">		
	           				</select>
		          		</div>
		          	</div>
		          	
		          	<div class="section group" id="fcomponent">
		          		<div class="col span_5">	
		          			Failed component
		          		</div>
		          		<div class="col span_7">
		          			<input hidden="hidden" th:value="*{failuredComponent}" id="savedFailuredComponent"/>
		          			<select th:field="*{failuredComponent}" onchange="setSubcomponents(this.value)">
	       						<option value=""></option>
	           					<option th:each="component : ${T(ru.shaposhnik.runlifetracker.model.FailuredComponentEnum).values()}"
	           							th:value="${component}"
	           							th:text="${component.label}"
	           							th:disabled="${!component.isEnabled}">
	           					</option>		
	           				</select>
		          		</div>
		          	</div>
		          	<div class="section group" id="fcomponent2">
		          		<div class="col span_5">	
		          			Failed component details
		          		</div>
		          		<div class="col span_7">
		          			<input type="hidden" th:value="*{failuredSubComponent}" id="savedFailuredSubcomponent"/>
		          			<select th:field="*{failuredSubComponent}" id="subcomponent">		
	           				</select>
		          		</div>
		          	</div>
		          	
		          	<div class="section group" id="responsibility">
		          		<div class="col span_5">	
		          			Failure responsibility
		          		</div>
		          		<div class="col span_7">
		          			<select th:field="*{responsibility}">
		          				<option value=""></option>
	           					<option th:each="r : ${T(ru.shaposhnik.runlifetracker.model.FailureResponsibilityEnum).values()}"
	           							th:value="${r}"
	           							th:text="${r.label}">
	           					</option>	
		          			 </select>
		          		</div>
		          	</div>
		          	
		          	
		          				
				</div>
					
				<div class="col span_6">	
		       		RCA note
	       			<textarea rows="8" th:field="*{note}">
	       				Some note
	    			</textarea>
				</div>
		
				      	
	       		<div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_DIFA_ENGINEER')">
		        	<button type="submit" name="save" class="pure-button">Save RCA</button>
		        	<button type="submit" name="delete" class="pure-button">Delete RCA</button>        
		        </div>
		        
		        <div class="section group log" th:if="*{id} != '0'">
		        	<span th:text="'Created '+*{createdDate}+' by '+*{createdBy}">
		          			[Created 2015-04-12 by Pedro Perez]
		        	</span><br/>
		        	<span th:text="'Updated '+*{updatedDate}+' by '+*{updatedBy}">
		          			[Updated 2015-04-12 by Pedro Perez]
		        	</span>
		        </div>
		  	</div> 
		  	</div>
		</fieldset>

	</form>

</div>
<div class="col span_3">
	  		
					<table class="pure-table pure-table-striped centered">
					<caption>Installation history</caption>
						<thead>
							<tr>
								<th>Event</th>
								<th>Date</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Installed</td>
								<td><a	href="installation-edit.html"
						 				th:href="@{#installations/{id}/edit(id=${event.installation.id})}"
										th:text="${event.installation.instDate}" class="ajax">
											[2015-08-12]
									</a>
								</td>
							</tr>
							<tr>
								<td>Started</td>
								<td>
									<a href="event-start.html" 
										th:href="@{#installations/{id}/startevent(id=${event.installation.id})}" 
										th:text="${event.installation.startEvent != null}? ${event.installation.startEvent.eventDate}" class="ajax">
										[2015-08-12]
									</a>
								</td>
							</tr>
							<tr>
								<td>Sensor failed</td>
								<td><a 	href="event-sensorfailure.html" 
										th:href="@{#installations/{id}/sensorevent(id=${event.installation.id})}" 
										th:text="${event.installation.sensorEvent != null}? ${event.installation.sensorEvent.eventDate}" class="ajax">
										[2015-08-13]
									</a>
								</td>
							</tr>
							<tr>
								<td>Stopped</td>
								<td><a 	href="event-stop.html" 
										th:href="@{#installations/{id}/stopevent(id=${event.installation.id})}" 
										th:text="${event.installation.stopEvent != null}? ${event.installation.stopEvent.eventDate}" class="ajax">
										[2015-08-13]
									</a>
								</td>
							</tr>
							<tr>
								<td>Pulled</td>
								<td><a 	href="event-stop.html" 
										th:href="@{#installations/{id}/pullevent(id=${event.installation.id})}" 
										th:text="${event.installation.pullEvent != null}? ${event.installation.pullEvent.eventDate}" class="ajax">
										[2015-08-13]
									</a>
								</td>
							</tr>
							<tr>
								<td>Teardown</td>
								<td th:text="${event.installation.rcaEvent != null}? ${event.installation.rcaEvent.eventDate}">
									[2015-08-14]
								</td>
							</tr>
							<tr>
								<td>RCA</td>
								<td><a 	href="event-client.html" 
										th:href="@{#installations/{id}/clientevent(id=${event.installation.id})}" 
										th:text="${event.installation.clientEvent != null}? ${event.installation.clientEvent.eventDate}" class="ajax">[2015-08-15]</a></td>
							</tr>
							<tr>
								<td>Runlife,days</td>
								<td th:text="${event.installation.rundays}">[1100]</td>
							</tr>
						</tbody>
					</table>
</div>

</div>

	<script sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_DIFA_ENGINEER')" type="text/javascript">
	$(function() {
	    $( "#eventDate" ).datepicker({
	    	dateFormat: "yy-mm-dd"
	    });
	  });
	</script>

	<script th:inline="javascript">
  	//<![CDATA[
 
  	 
  	
  		var subcomponents = /*[[${subcomponents}]]*/null;
		var select=document.getElementById("subcomponent");
		var savedFailuredComponent=document.getElementById("savedFailuredComponent");

		setSubcomponents(savedFailuredComponent.value);
		
		var savedFailuredSubcomponent=document.getElementById("savedFailuredSubcomponent").value;
  		document.getElementById("subcomponent").value = savedFailuredSubcomponent;
 		

  		function setSubcomponents(fc){
  		
	  		clearSubcomponents();
	  		var selectedSubcomponents;

	  		
	  		if (fc && subcomponents[fc]) {
	  			selectedSubcomponents=subcomponents[fc].split("#");
	  		
	  			var i;
	
	  			select.options.add(new Option("",""));
	  			for (i=0 ; i < selectedSubcomponents.length ; i++){
	  				var subcomponent= new Option(selectedSubcomponents[i],selectedSubcomponents[i]);
	  				select.options.add(subcomponent);
	  			}
  			}
  		
  		}
  	function clearSubcomponents(){
  		for (i=select.options.length-1; i>=0 ; i--){
   			select.options.remove(i);
   		}
  	}
  	 	
  	
	//]]>
  	</script>

	<script th:inline="javascript">
  	//<![CDATA[
 	
  	
	var subRootCauses = /*[[${subRootCauses}]]*/null;
	var selectSubRootCause=document.getElementById("subRootCause");
	var savedRootCause=document.getElementById("savedRootCause");

	setSubRootCauses(savedRootCause.value);
	
	var savedSubRootCause=document.getElementById("savedSubRootCause").value;
	document.getElementById("subRootCause").value = savedSubRootCause;
		
	function setSubRootCauses(rc){
		
		clearSubRootCauses();
		var selectedSubRootCauses;
		
		if (rc && subRootCauses[rc]){
			selectedSubRootCauses=subRootCauses[rc].split("#");
				
			var i;
			selectSubRootCause.options.add(new Option("",""));
			for (i=0 ; i < selectedSubRootCauses.length ; i++){
				var subRootCause= new Option(selectedSubRootCauses[i],selectedSubRootCauses[i]);
				selectSubRootCause.options.add(subRootCause);
			
			}
		}
  	}
	
  	function clearSubRootCauses(){
  		for (i=selectSubRootCause.options.length-1; i>=0 ; i--){
   			selectSubRootCause.options.remove(i);
   		}
  	}
  	 	
   	
	//]]>
  	</script>




</div>
</body>

</html>
