<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>


<body>
<div id="body">


<script>
	$(document).ready(function(){
    	$(".editbtn").click(function(){

			$("input[name='id']").attr("value",$(this).parent().siblings().filter("#id").text());
			var country = $(this).parent().siblings().filter("#country").text();
			$("#country option[value="+country+"]").prop('selected', true);
			$("input[name='names']").val($(this).parent().siblings().filter("#names").text());
			$("input[name='surnames']").val($(this).parent().siblings().filter("#surnames").text());
			$("input[name='nationalId']").val($(this).parent().siblings().filter("#nationalid").text());			
			
			var isactive=$(this).parent().siblings().filter("#isactive").children("input").prop("checked");
			$("input[name='isActive']").prop("checked", isactive);
			
			
			$("button[name='save']").html("Save changes");
	
			//remove old error messages
			$("ul#errors").remove();

		});
    	$(".clearbtn").click(function(){

    		$("#country option[value='']").prop('selected', true);
			$("input[name='names']").val("");
			$("input[name='surnames']").val("");
			$("input[name='nationalId']").val("");
			$("input[name='isActive']").prop('checked',false);
			$("button[name='save']").html("Add Client");
	
			//remove old error messages
			$("ul#errors").remove();
    	});
	});
</script>

<div class="centered" style="max-width:900px">
	
 	<form class="pure-form pure-form-stacked" action="#" th:action="@{fieldtechnicians/save}" th:object="${fieldTechnician}" method="post">
 		<input hidden="hidden" id="id" th:field="*{id}"/>

			<div class="legend">Add/Update field technicians</div>	
		<fieldset>
	
			<ul id="errors" class="list-unstyled" th:if="${#fields.hasErrors('*')}">
		    	<li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerror : fielderror">
		        	<span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> :
		        	<span th:text="${e.message}">The error message</span>
		    	</li>
			</ul>

		
	   		<div class="centered" style="width:95%">
	   			<div class="section group"> 
	   			
	    			<div class="col span_2">   
	  					<label for="country">Country</label>
        				<select class="pure-input-1" th:field="*{country}" th:errorclass="fieldError" >
        					<option value=""></option>
            				<option th:each="country : ${allCountries}"
            						th:value="${country}"
            						th:text="${country}">
            				</option>		
            			</select>
           			</div>
           			
           			<div class="col span_3">   
       					<label for="names">Names</label>
        				<input class="pure-input-1" type="text" th:field="*{names}" th:errorclass="fieldError" />
        			</div>
        			
        			<div class="col span_3">   
       					<label for="surnames">Surnames</label>
        				<input class="pure-input-1" type="text" th:field="*{surnames}" th:errorclass="fieldError" />
        			</div>
        			
           			<div class="col span_2">   
     					<label for="nationalId">National ID</label>		
        				<input class="pure-input-1" type="text" th:field="*{nationalId}" th:errorclass="fieldError" />
       	 			</div>
       	 			
       	 			<div class="col span_2">   
     					<label for="isActive">Is active?</label>		
        				<input class="pure-input-1" type="checkbox" th:field="*{isActive}" th:errorclass="fieldError" />
       	 			</div>
  				</div>
  				<button type="submit" class="pure-button" name="save" th:text="*{id == 0}? 'Add Technician' : 'Save changes'">[Add Technician]</button>
  				<input type="button" class="pure-button clearbtn" name="reset" value="Reset"/>
  			</div>	
		</fieldset>
	</form>
	
  
  <table class="pure-table pure-table-striped centered">
  	<caption>List of field technicians</caption>
    <thead>
      <tr>
        <th>id</th>
        <th>Country</th>
        <th>Names</th>
        <th>Surnames</th>
        <th>National ID</th>
        <th>Is active?</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="t : ${allFieldTechnicians}">
        <td id="id" th:text="${t.id}">123</td>
        <td id="country" th:text="${t.country}">[Colombia]</td>
        <td id="names" th:text="${t.names}">[Pedro]</td>  
        <td id="surnames" th:text="${t.surnames}">[Perez]</td>     
        <td id="nationalid" th:text="${t.nationalId}">[987654321-12]</td>
        <td id="isactive"><input disabled="disabled" type="checkbox" th:checked="${t.isActive}"/></td>
        <td>
       		<input type="button" class="btn btn-smaller editbtn" value="Edit"/>
        </td>
      </tr>
    </tbody>
  </table>


</div>




</div>
</body>

</html>
