<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>


<body>
<div id="body">
	
<script>
	$(document).ready(function(){
    	$(".editbtn").click(function(){

			$("input[name='id']").attr("value",$(this).parent().siblings().filter("#id").text());
			$("input[name='name']").val($(this).parent().siblings().filter("#name").text());
			$("input[name='wellpattern']").val($(this).parent().siblings().filter("#wellpattern").text());
			$("input[name='reservoirs']").val($(this).parent().siblings().filter("#reservoirs").text());
			var country = $(this).parent().siblings().filter("#country").text();
			$("#country option[value="+country+"]").prop('selected', true);
			var fieldType = $(this).parent().siblings().filter("#fieldType").text();
			$("#fieldType option[value="+fieldType+"]").prop('selected', true);
			$("button[name='save']").html("Save changes");
	//		$("input[name='id']").attr("value",$(this).parent().parent().prop("class", "danger"));
			
			//remove old error messages
			$("ul#errors").remove();	

		});
    	$(".clearbtn").click(function(){

			$("input[name='id']").attr("value",0);
			$("input[name='name']").val("");
			$("input[name='wellpattern']").val("");
			$("input[name='reservoirs']").val("");
			$("#country option[value='']").prop('selected', true);
			$("#fieldType option[value='']").prop('selected', true);
			$("button[name='save']").html("Add Field");
	//		$("input[name='id']").attr("value",$(this).parent().parent().prop("class", "danger"));
	
			//remove old error messages
			$("ul#errors").remove();
		});
	});
</script>
	
	
	<div class="pure-g">
		<div class="pure-u-1">	


	<div class="legend">Add/Update field</div>
 	<form class="pure-form pure-form-stacked" action="#" th:action="@{fields/save}" th:object="${field}" method="post">
		<fieldset>

			<div class="centered" style="width:95%">
				<ul id="errors" class="list-unstyled" th:if="${#fields.hasErrors('*')}">
	    			<li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerror : fielderror">
	        			<span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> :
	        			<span th:text="${e.message}">The error message</span>
	    			</li>
				</ul>
				
				<div class="section group">		
					<div class="col span_1">
						<label>ID</label>
						<input readonly="readonly" class="pure-input-1" th:field="*{id}" />	
					</div>
					<div class="col span_1">
						<label>Country</label>
						<select class="pure-input-1" th:field="*{country}">
	        					<option value=""></option>
	            					<option th:each="country : ${allCountries}"
	            							th:value="${country}"
	            							th:text="${country}">
	            					</option>			
	            			</select>
					</div>
					<div class="col span_2">
						<label>Field name</label>
						<input class="pure-input-1" type="text" th:field="*{name}" th:errorclass="fieldError" />
					</div>
					<div class="col span_5">
						<label>Wellname prefixes</label>
						<input class="pure-input-1" type="text" th:field="*{wellpattern}" th:errorclass="fieldError" />
					</div>
					<div class="col span_2">
						<label>Field Type</label>
						<select class="pure-input-1" th:field="*{fieldType}" th:errorclass="fieldError">
							<option value=""></option>
							<option value="Onshore">Onshore</option>
							<option value="Offshore">Offshore</option>
						</select>
					</div>
					<div class="col span_1">
						<label>Reservoirs</label>
						<input class="pure-input-1" type="text" th:field="*{reservoirs}" th:errorclass="fieldError" />
					</div>
					
	 
	        			
	        				<button type="submit" class="pure-button" name="save" th:text="*{id == 0}? 'Add Field' : 'Save changes'">Add Field</button>
	        				<input type="button" class="pure-button clearbtn" name="reset" value="Reset"/>
	        			
			</div>
		</div>
		</fieldset>
	</form>


	<h2>List of fields</h2>



   
	<table class="pure-table pure-table-striped">
    	<thead>
      		<tr>
        		<th>Field ID</th>
        		<th>Country</th>
        		<th>Name</th>
        		<th>Well name prefixes</th>
        		<th>Reservoirs</th>
        		<th>Field Type</th>
        		<th>Active Contracts</th>		
        		<th>Users</th>
        		<th>Edit</th>
      		</tr>
		</thead>
    	<tbody>
      		<tr th:each="field : ${allFields}">
        		<td id="id" th:text="${{field.id}}">123</td>
        		<td id="country" th:text="${field.country}">Some country</td>
        		<td id="name" th:text="${field.name}">Some name</td>
        		<td id="wellpattern" th:text="${field.wellpattern}">CHSW:CH</td>
        		<td id="reservoirs" th:text="${field.reservoirs}">T1/T2/K1/K2</td>
        		<td id="fieldType" th:text="${field.fieldType}">[Offshore]</td>
        		<td><a href="#" th:href="@{#fields/{id}/contracts(id=${field.id})}" th:text="${field.contractsString !=''} ? ${field.contractsString} : '...'" class="ajax">[SOA, SCC]</a></td>
        		<td style="text-align: center">
        			<a href="#rrr" th:href="@{#fields/{id}/users(id=${field.id})}" class="ajax">
        				>>>
        			</a>
        		</td>
        		<td>
       				<input type="button" class="btn btn-primary btn-xs editbtn" value="Edit"/>
        		</td>
        	</tr>
        </tbody>
      </table>
           	
        		
     </div>
     </div>


  	
	 <script type="text/javascript">
	//<![CDATA[
		if (window.location.hash != "#fields"){
			ignorehashchange=true
			window.location.hash="fields";
		}
		//]]>
	</script>
	    

</div>
</body>

</html>
