<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>



<body>
<div id="body">


<h2 style="text-align: center">
	Users for the field <span th:text="${field.description}">[Apiay, Colombia]</span>
</h2>


 
<form action="#" th:action="@{/fields/{id}/saveusers(id=${field.id})}" th:object="${users}" method="post">


<table class="pure-table pure-table-striped centered">
    <thead>
      <tr>
      	<th>Blocked?</th>
      	<th>User</th>
      	<th>E-mail</th>
      	<th>Role</th>
        <th>Has access?</th>
      </tr>
    </thead>
    <tr th:each="user,userStat : ${users}">
    	<td style="text-align: center"><input type="checkbox" disabled="disabled" th:checked="${user.key.isblocked}"/></td>
    	<td th:text="${user.key.getDescription()}">[Pedro Perez]</td>
    	<td th:text="${user.key.email}">[pedro.perez@borets.com]</td>
    	<td th:text="${user.key.role}">[ADMIN]</td>
        <td style="text-align: center"><input type="checkbox" th:name="${user.key.id}" th:checked="${user.value}"/></td>
      </tr>
</table>
<div style="text-align:center;margin:8px">
	<button type="submit" class="pure-button">Save rights</button>
</div>
</form>

</div>

</body>

</html>
