<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>



<body>
<div id="body">
 
<h2 style="text-align: center">
Contracts for the field <span th:text="${field.description}">[Apiay, Colombia]</span>
</h2> 
 
<form class="pure-form" action="#" th:action="@{/fields/{id}/savecontracts(id=${field.id})}" th:object="${contracts}" method="post">


<table class="pure-table pure-table-striped centered">
	
    <thead>
      <tr>
      	<th>Client</th>
      	<th>Contract Name</th>
        <th>Contract Date</th>
        <th>Closed?</th>
        <th>Belongs?</th>
      </tr>
    </thead>
    <tr th:each="contract,contractStat : ${contracts}">
    	<td th:text="${contract.key.client.name}">[Country]</td>
    	<td th:text="${contract.key.name}">[Country]</td>
    	<td th:text="${contract.key.startingDate}">[CA-123]</td>
    	<td style="text-align: center"><input type="checkbox" disabled="disabled" th:checked="${contract.key.isClosed}"/></td>
        <td style="text-align: center"><input type="checkbox" th:name="${contract.key.id}" th:checked="${contract.value}"/></td>
      </tr>
</table>
<div style="text-align:center;margin:8px">
	<button type="submit" class="pure-button">Save contracts</button>
</div>
</form>

</div>

</body>

</html>
