<body>
<div id="body">
<form th:action="@{/fileupload}" method="POST" enctype="multipart/form-data">
    File to upload: <input type="file" name="file" />
    <br/>
    File name:<input type="text" name="name" />
    <br/>
    Installation id:<input type="text" name="instid" />
    <br/>
    Press here to upload the file <input type="submit" value="upload"/>
</form>
</div>
</body>
