<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>


<body>
<div id="body">
	
<script>
	$(document).ready(function(){
    	$(".editbtn").click(function(){

			$("input[name='id']").attr("value",$(this).parent().siblings().filter("#id").text());
			$("input[name='name']").val($(this).parent().siblings().filter("#name").text());
			$("input[name='wellpattern']").val($(this).parent().siblings().filter("#wellpattern").text());
			$("input[name='reservoirs']").val($(this).parent().siblings().filter("#reservoirs").text());
			var country = $(this).parent().siblings().filter("#country").text();
			$("#country option[value="+country+"]").prop('selected', true);
			var fieldType = $(this).parent().siblings().filter("#fieldType").text();
			$("#fieldType option[value="+fieldType+"]").prop('selected', true);
			$("button[name='save']").html("Save changes");
	//		$("input[name='id']").attr("value",$(this).parent().parent().prop("class", "danger"));
			
			//remove old error messages
			$("ul#errors").remove();	

		});
    	$(".clearbtn").click(function(){

			$("input[name='id']").attr("value",0);
			$("input[name='name']").val("");
			$("input[name='wellpattern']").val("");
			$("input[name='reservoirs']").val("");
			$("#country option[value='']").prop('selected', true);
			$("#fieldType option[value='']").prop('selected', true);
			$("button[name='save']").html("Add Field");
	//		$("input[name='id']").attr("value",$(this).parent().parent().prop("class", "danger"));
	
			//remove old error messages
			$("ul#errors").remove();
		});
    	
    	
    	
    	$('input[type=radio][name=analyzeBy]').on('change',function(){
    		$("select").prop('disabled',false);
			$("select[name="+this.value+"]"+" option[value='*']").prop('selected', true);
			$("select[name="+this.value+"]").prop('disabled',true);

		});
    	
    	
    	
	});
</script>
	
	
	<div class="pure-g">
		<div class="pure-u-1">	


	<div class="legend">Select the installations to analyze</div>
 	<form class="pure-form pure-form-stacked" action="#" th:action="@{blablabla}" method="post">
		<fieldset>

			<div class="centered" style="width:95%">
				<input type="submit" value="submit"/>
				
				<div class="group">		
					<div class="col span_1">
						<label>System type</label>
					</div>
					<div class="col span_2">
						<input class="pure-input-1" />	
					</div>
				</div>
				<div class="group">
					<div class="col span_1">
						<label>Country</label>
					</div>
					<div class="col span_2">
						<input type="radio" name="analyzeBy" value="country"/>
						<select class="pure-input-1" name="country">
	        					<option value="*">*</option>
	            					<option th:each="country : ${allCountries}"
	            							th:value="${country}"
	            							th:text="${country}">
	            					</option>			
	            			</select>
					</div>
				</div>
				
				<div class="group">
					<div class="col span_1">
						<label>Field</label>
					</div>
					<div class="col span_2">
						<input type="radio" name="analyzeBy" value="field"/>
						<select class="pure-input-1" name="field">
	        					<option value="*">*</option>
	            					<option th:each="field : ${allFields}"
	            							th:value="${field.id}"
	            							th:text="${field.name}">
	            					</option>			
	            			</select>
					</div>
				</div>
				
				
				<div class="group">
					<div class="col span_1">
						<label>Contract</label>
					</div>
					<div class="col span_2">
						<input type="radio" name="analyzeBy" value="contract"/>
						<select class="pure-input-1" name="contract">
	        					<option value="*">*</option>
	            					<option th:each="contract : ${allContracts}"
	            							th:value="${contract.id}"
	            							th:text="${contract.name}">
	            					</option>			
	            			</select>
					</div>
				</div>
				
				
				
				<div class="section group">
	          					<div class="col span_4">
	        						Well treatment
	        					</div>
	        					<div class="col span_8">
	        						<input type="radio" name="analyzeBy" value="wellTreatment"/>
	        						<select class="width-100"  name="wellTreatment">
	        							<option value="*">*</option>
	        							<option value="0"></option>
	        							<option value="1">After Drilling</option>
	        							<option value="2">Converted from other methods</option>
	        							<option value="3">After acidizing</option>
	        							<option value="4">After fracturing</option>
	        							<option value="7">After other well treatment</option>
	        							<option value="5">Equipment replacement-after failure</option>
	        							<option value="6">Equipment replacement-other reason</option>
	        						</select>
	        					</div>
	        				</div>
				
					
					
					<div class="section group">
								<div class="col span_5">
									Pumps brand
								</div>
								<div class="col span_7">
									<input type="radio" name="analyzeBy" value="pumpsBrand"/>
									<select name="pumpsBrand">
										<option value="*">*</option>
										<option th:each="br : ${T(ru.shaposhnik.runlifetracker.model.PSComponentPumps).brands}"
												th:value="${br}"
												th:text="${br}">[ZTS]
										</option>
									</select>
								</div>
							</div>
					
				<div class="section group">
								<div class="col span_5">
									Pumps series
								</div>
								<div class="col span_7">
									<input type="radio" name="analyzeBy" value="pumpsSeries"/>
									<select name="pumpsSeries">
										<option value="*">*</option>
										<option th:each="series : ${T(ru.shaposhnik.runlifetracker.model.PSComponentPumps).seriess}"
												th:value="${series}"
												th:text="${series}">[538]
										</option>
									</select>
								</div>
							</div>
				
				<div class="section group">
								<div class="col span_5">
									Pumps metallurgies
								</div>
								<div class="col span_7">
									<select>
										<option value="*">*</option>
										<option th:each="met : ${T(ru.shaposhnik.runlifetracker.model.PSComponentPumps).metallurgies}"
												th:value="${met}"
												th:text="${met}">[SS]
										</option>
									</select>
								</div>
							</div>
				
				
				<div class="section group">
								<div class="col span_5">
									Pumps abrasion resistance
								</div>
								<div class="col span_7">
									<select>
										<option value="*">*</option>
										<option th:each="abr : ${T(ru.shaposhnik.runlifetracker.model.PSComponentPumps).abrasionResTypes}"
												th:value="${abr}"
												th:text="${abr}">[TA]
										</option>
									</select>
								</div>
							</div>

							<div class="section group">
								<div class="col span_5">
									Pumps assembling type
								</div>
								<div class="col span_7">
								<input type="radio" name="analyzeBy" value="pumpsAssemblingType"/>
									<select name="pumpsAssemblingType">
										<option value="*">*</option>
										<option value="F">F</option>
										<option value="C">C</option>
									</select>
								</div>
							</div>


							<div class="section group">
								<div class="col span_5">
									Pumps flow type
								</div>
								<div class="col span_7">
									<select>
										<option value="*">*</option>
										<option th:each="ft : ${T(ru.shaposhnik.runlifetracker.model.PSComponentPumps).flowTypes}"
												th:value="${ft}"
												th:text="${ft}">[TA]
										</option>
									</select>
								</div>
							</div>

							<div class="section group">
								<div class="col span_5">
									Motors brand
								</div>
								<div class="col span_7">
									<select>
										<option value="*">*</option>
										<option th:each="brand : ${T(ru.shaposhnik.runlifetracker.model.PSComponentMotors).brands}"
												th:value="${brand}"
												th:text="${brand}">[Borets]
										</option>
									</select>
								</div>
							</div>

							<div class="section group">
								<div class="col span_5">
									Motors type
								</div>
								<div class="col span_7">
									<select>
										<option value="*">*</option>
										<option th:each="mtype : ${T(ru.shaposhnik.runlifetracker.model.PSComponentMotors).motorTypes}"
												th:value="${mtype}"
												th:text="${mtype}">[PMM]
										</option>
									</select>
								</div>
							</div>

							<div class="section group">
								<div class="col span_5">
									Motors series
								</div>
								<div class="col span_7">
									<select>
										<option value="*">*</option>
										<option th:each="mseries : ${T(ru.shaposhnik.runlifetracker.model.PSComponentMotors).seriess}"
												th:value="${mseries}"
												th:text="${mseries}">[562]
										</option>
									</select>
								</div>
							</div>

							<div class="section group">
								<div class="col span_5">
									Motors metallurgy
								</div>
								<div class="col span_7">
									<select>
										<option value="">*</option>
										<option th:each="mmet : ${T(ru.shaposhnik.runlifetracker.model.PSComponentMotors).metallurgies}"
												th:value="${mmet}"
												th:text="${mmet}">[SS]
										</option>
									</select>
								</div>
							</div>

							<div class="section group">
								<div class="col span_5">
									Seals series
								</div>
								<div class="col span_7">
									<select>
										<option value="*">*</option>
										<option th:each="sseries : ${T(ru.shaposhnik.runlifetracker.model.PSComponentSeals).seriess}"
												th:value="${sseries}"
												th:text="${sseries}">[400]
										</option>
									</select>
								</div>
							</div>



							<div class="section group">
								<div class="col span_5">
									Seals brand
								</div>
								<div class="col span_7">
									<select>
										<option value="*">*</option>
										<option th:each="sbrand : ${T(ru.shaposhnik.runlifetracker.model.PSComponentSeals).brands}"
												th:value="${sbrand}"
												th:text="${sbrand}">[BRT]
										</option>
									</select>
								</div>
							</div>





				
						    
		</div>
		</fieldset>
		</form>
</div>
</div>
</div>


</body>

</html>
