<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
</head>



<body>
<div id="body">


<div class="section group">
<div class="col span_9">
<form action="#" th:action="@{/installations}" th:object="${installation}" method="post" class="pure-form">
	<input type="hidden" th:field="*{id}"/>
	<input type="hidden" th:field="*{well}"/>
	
		
	<div class="legend">Edit Installation, well <span th:inline="text">[[*{well.name}]]</span>, field <span th:inline="text">[[*{well.field.name}]]</span></div>
	<fieldset th:disabled="${#authorization.expression('!hasAnyRole(''ROLE_ADMIN'', ''ROLE_AP_ENGINEER'')')}">
		
		
			<ul id="errors" class="list-unstyled" th:if="${#fields.hasErrors('*')}">
    			<li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerror : fielderror">
        			<span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> :
        			<span th:text="${e.message}">The error message</span>
    			</li>
			</ul>	
			
				     	

	    
	
		<div id="tabs-installation-edit">
		    <ul>
		    	<li><a href="#general">General info</a></li>
		    	<li><a href="#reservoirdata">Reservoir data</a></li>
		        <li><a href="#pump">Pump</a></li>
		        <li><a href="#gsintake">GS/Intake</a></li>
		        <li><a href="#seal">Seal</a></li>
		        <li><a href="#motor">Motor</a></li>
		        <li><a href="#sensor">Sensor</a></li>
		        <li><a href="#cable">Cable</a></li>
		        
		    </ul>


			<div id="general">
			
										
					<div class="section group">
					
	       				<div class="col span_6">
	       					<div class="section group">
	          					<div class="col span_4">
	       							Field
	       						</div>
	       						<div class="col span_8">
	       							<input type="text" th:value="*{well.field.name}" readonly="readonly" class="width-100"/>
	       						</div>
	       					</div>
	 	
		       		
	       					<div class="section group">
	          					<div class="col span_4">
		       						Well
		       					</div>
		       					<div class="col span_8">	
	       							<input type="text" th:value="*{well.name}" readonly="readonly" class="width-100"/>
	       						</div>
		       				</div>	
		       					
	       					<div class="section group">
	          					<div class="col span_4">
	       							Contract
	       						</div>
	       						<div class="col span_8">
		       						<select th:field="*{contract.id}">
		       							<option value="0"></option>
		       							<option th:each="contract : *{well.field.contracts}"
		       									th:value="${contract.id}"
		       									th:text="${contract.fullName}"
		       									th:disabled="${contract.isClosed and contract != installation.contract}">
		       										[Ecopetrol-SCC]
		       							</option>	
		       						</select>
	       						</div>
	       					</div>
	       					
	       					
		       					
		       					
	       					<div class="section group">
	          					<div class="col span_4">
		       						Pump type
		       					</div>
		       					<div class="col span_8">
			       					<span th:each="ltp : ${liftTypes}">
			          					<input type="radio" th:field="*{lifttype}" th:value="${ltp}" />
			          					
			          					<label th:for="${#ids.prev('lifttype')}" th:text="${ltp}" >[Some Lift type]</label>
			          				</span>
			          								          			
			          			</div>
		          			</div>
		          			
		          			
		          			
			          			
	       					<div class="section group">
	          					<div class="col span_4">
	        						Installation date
	        					</div>
	        					<div class="col span_8">
	        						<input type="text" class="width-100" th:field="*{instDate}" />
	        					</div>
	        				</div>
		        				
		        			<div class="section group">
	          					<div class="col span_4">
	        						Well treatment
	        					</div>
	        					<div class="col span_8">
	        						<select class="width-100" th:field="*{wellTreatment}" >
	        							<option value="0"></option>
	        							<option value="1">After Drilling</option>
	        							<option value="2">Converted from other methods</option>
	        							<option value="3">After acidizing</option>
	        							<option value="4">After fracturing</option>
	        							<option value="7">After other well treatment</option>
	        							<option value="5">Equipment replacement-after failure</option>
	        							<option value="6">Equipment replacement-other reason</option>
	        						</select>
	        					</div>
	        				</div>
 	        				 
	        			<div th:if="${#arrays.length(fieldTechnicians) != 0}" class="section group">
	        				<div class="col span_4">
	        						Field technician
	        				</div> 
	        				<div class="col span_8">
		       						<select th:field="*{fieldTechnician}">
		       							<option value=""></option>
		       							<option th:each="technician : ${fieldTechnicians}"
		       									th:value="${technician.id}"
		       									th:text="${technician.description}">
		       										[Ecopetrol-SCC]
		       							</option>	
		       						</select>
	       					</div>     				
	        			</div>

	        				
			        				
			        	</div>
		        	
  	
		        		<div class="col span_6">			
	        				    Note:<br/>
        					    <textarea rows="7" th:field="*{note}">
          					    	Some note
          					    </textarea>
                            <div id="file" class="col">
                                <span th:if="${ireport != null}">
                                    <a th:href="@{filedownload(id=${ireport.id})}">Installation report</a>
		                            <button sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_AP_ENGINEER')"
                                                        type="button"
                                                        onclick="deleteFile()">
                                                            Delete file
                                    </button>
                                </span>
		                        <button sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_AP_ENGINEER')"
                                                    type="button"
                                                    th:text="${ireport != null}? 'Update file' : 'Add installation report'"
                                                    onclick="selectFile()">
                                                        Delete file
                                </button>
                                <input type="file" id="file" onchange="updateFile()" style="display:none" />
                            </div>
		          		</div>
	         		
	         	   </div> 

	        
			
			</div>

			<div id="reservoirdata">
			
										
					<div class="section group">
					
	       				<div class="col span_6">
	       				
	       					<div class="section group">
	          					<div class="col span_5">
	        						Reservoirs
	        					</div>
	        					<div class="col span_7">
	        						<input type="text" class="width-100" th:field="*{reservoirs}" />
	        					</div>
	        				</div>
	       				
	       					<div class="section group">
	          					<div class="col span_5">
	       							Reservoir Temperature, C
	       						</div>
	       						<div class="col span_7">
	       							<input type="number" step="1" th:field="*{reservoirTemp}" min="20" class="width-100"/>
	       						</div>
	       					</div>
	 	
		       				<div class="section group">
	          					<div class="col span_5">
	        						GOR, scf/stb
	        					</div>
	        					<div class="col span_7">
	        						<input type="number" step="0.1" class="width-100" min="0" th:field="*{gor}" />
	        					</div>
	        				</div>
		       		
		       		
		       		
	       					<div class="section group">
	          					<div class="col span_5">
		       						Watercut, %
		       					</div>
		       					<div class="col span_7">	
	       							<input type="number" step="1" th:field="*{waterCut}" min="0" class="width-100"/>
	       						</div>
		       				</div>	
		       					
		       				<div class="section group">
	          					<div class="col span_5">
		       						Viscosity, cp
		       					</div>
		       					<div class="col span_7">	
	       							<input type="number" step="0.1" th:field="*{viscosity}" min="0" class="width-100"/>
	       						</div>
		       				</div>
		       				
		       				<div class="section group">
	          					<div class="col span_5">
		       						Solids content, mg/l
		       					</div>
		       					<div class="col span_7">	
	       							<input type="number" step="0.1" th:field="*{solidsContent}" min="0" class="width-100"/>
	       						</div>
		       				</div>
	       						  
	       					<div class="section group">
	          					<div class="col span_5">
		       						Oil gravity, API
		       					</div>
		       					<div class="col span_7">	
	       							<input type="number" step="0.1" th:field="*{oilGravity}" min="3" class="width-100"/>
	       						</div>
		       				</div>  
	       						    				
	        				
	        				
	        				<div class="section group">
	          					<div class="col span_5">
	        						Pump head setting depth, ft
	        					</div>
	        					<div class="col span_7">
	        						<input type="number" step="1" class="width-100" min="100" th:field="*{pHeadSetDepth}" />
	        					</div>
	        				</div>
			        				
			        	</div>
		        	
  	
		        		
	         		
	         	   </div> 

	        
			
			</div>


			 
			<div id="pump">
					<div class="section group">
	
						<div class="col span_6">
						
							
							<div class="section group">
								<div class="col span_5">
									Brand
								</div>
								<div class="col span_7">
									<select th:field="*{pumps.brand}">
										<option value=""></option>
										<option th:each="br : ${pumpbrands}"
												th:value="${br}"
												th:text="${br}">[ZTS]
										</option>
									</select>
								</div>
							</div>
											
							<div class="section group">
								<div class="col span_5">
									Series
								</div>
								<div class="col span_7">
									<select th:field="*{pumps.series}">
										<option value=""></option>
										<option th:each="s : ${pumpseries}"
												th:value="${s}"
												th:text="${s}">[562]
										</option>
									</select>
								</div>
							</div>			
						
							<div class="section group">
								<div class="col span_5">
									Nominal flow, bpd
								</div>
								<div class="col span_7">
									<input type="number" th:field="*{pumps.pumpsFlow}"/>
								</div>
							</div>		
						
						
							<div class="section group">
								<div class="col span_5">
									Pumps #
								</div>
								<div class="col span_7">
									<input type="number" class="width-100" th:field="*{pumps.qty}" />
								</div>
							</div>
							
							<div class="section group">
								<div class="col span_5">
									Total stages #
								</div>
								<div class="col span_7">
									<input type="number" class="width-100" th:field="*{pumps.stagesQ}" />
								</div>
							</div>
								
							<div class="section group">
								<div class="col span_5">
									Stage type
								</div>
								<div class="col span_7">
									<span th:each="type : ${flowtypes}">
									<input type="radio" th:field="*{pumps.flowType}" th:value="${type}" />
									<label th:for="${type}" th:text="${type}">[MIXED]</label>
									</span>
								</div>
							</div>
								
							<div class="section group">
								<div class="col span_5">
									Assembling type
								</div>
								<div class="col span_7">
									<input type="radio" th:field="*{pumps.assemblingType}" th:value="F"/>
									<label th:for="F">Floating</label>
									<input type="radio" th:field="*{pumps.assemblingType}" th:value="C"/>
									<label th:for="C">Compression</label>
								</div>
							</div>
										
						
							<div class="section group">
								<div class="col span_5">
									Corrosion resistance
								</div>
								<div class="col span_7">
									<select th:field="*{pumps.metallurgy}">
										<option value=""></option>
										<option th:each="m : ${pumpmetallurgies}"
												th:value="${m}"
												th:text="${m}">[SS]
										</option>
									</select>
								</div>
							</div>
						
							<div class="section group">
								<div class="col span_5">
									Abrasion resistance
								</div>
								<div class="col span_7">
									<select th:field="*{pumps.abrasionRes}">
										<option value=""></option>
										<option th:each="s : ${pumpabrrestypes}"
												th:value="${s}"
												th:text="${s}">[562]
										</option>
									</select>
								</div>
							</div>		
												
						</div>
										
						<div class="col span_6">
							<div class="section group">
								<div class="col span_12">
									Note:<br/>
									<textarea rows="6" class="width-100" th:field="*{pumps.note}">
										[Some note relating to pumps]
									</textarea>
								</div>
							</div>
	
							<div class="section group">
								<div class="col span_4">
									Pump serials (comma separated)
								</div>
								<div class="col span_8">
									<input type="text" class="width-100" th:field="*{pumps.pumpSerials}"/>
								</div>
							</div>
							
							<div class="section group">
								<div class="col span_4">
									Vapro serial
								</div>
								<div class="col span_8">
									<input type="text" class="width-100" th:field="*{pumps.vaproSerial}"/>
								</div>
							</div>
							
							<div class="section group">
								<div class="col span_4">
									 Vapro description
								</div>
								<div class="col span_8">
									<input type="text" class="width-100" th:field="*{pumps.vaproDescription}"/>
								</div>
							</div>
							
							
							
						</div>
						
					</div>
				</div>

		
			<div id="gsintake">
				<div class="section group">
					
													
						<div class="col span_3">
							Upper GS serial<br/>
							<input class="width-100" th:field="*{gsi.uGSSerial}"/><br/>
							Lower GS serial<br/>
							<input class="width-100" th:field="*{gsi.lGSSerial}"/><br/>
							Intake serial<br/>
							<input class="width-100" th:field="*{gsi.intSerial}"/>
						</div>
					
						<div class="col span_7">
							Upper GS description<br/>
							<input class="width-100" th:field="*{gsi.uGSDescription}"/><br/>
							Lower GS description<br/>
							<input class="width-100" th:field="*{gsi.lGSDescription}"/><br/>
							Intake description<br/>
							<input class="width-100" th:field="*{gsi.intDescription}"/>
						</div>
					
					
				</div>
					
					
			</div>
			
			
			<div id="seal">
				<div class="section">
					Seals series<br/>
					<select th:field="*{seals.series}">
						<option value=""></option>
						<option th:each="s : *{seals.seriess}"
								th:value="${s}"
								th:text="${s}">[562]
						</option>
					</select>
				</div>
				<div class="section group">
					
						
						<div class="col span_2">
							Upper seal brand<br/>
							
							<select th:field="*{seals.uSealBrand}">
										<option value=""></option>
										<option th:each="br : *{seals.brands}"
												th:value="${br}"
												th:text="${br}">[ZTS]
										</option>
							</select>
							<br/>

							Lower seal brand<br/>
							
							<select th:field="*{seals.lSealBrand}">
										<option value=""></option>
										<option th:each="br : *{seals.brands}"
												th:value="${br}"
												th:text="${br}">[ZTS]
										</option>
							</select>
							
																			
						</div>
									
						<div class="col span_3">
							Upper seal serial<br/>
							<input class="width-100" th:field="*{seals.uSealSerial}"/><br/>
							Lower seal serial<br/>
							<input class="width-100" th:field="*{seals.lSealSerial}"/>
						</div>
					
						<div class="col span_7">
							Upper seal description<br/>
							<input class="width-100" th:field="*{seals.uSealDescription}"/><br/>
							Lower seal description<br/>
							<input class="width-100" th:field="*{seals.lSealDescription}"/>
						</div>
					
					
				</div>
			</div>
			
			<div id="motor">
				<div class="section group">
				
					
						<div class="col span_6">
					
						
							<div class="section group">
								<div class="col span_5">
									Brand
								</div>
								<div class="col span_7">
									<select th:field="*{motors.brand}">
										<option value=""></option>
										<option th:each="br : ${motorbrands}"
												th:value="${br}"
												th:text="${br}">[ZTS]
										</option>
									</select>
								</div>
							</div>
						
							<div class="section group">
								<div class="col span_5">
									Motor type
								</div>
								<div class="col span_7">
									<span th:each="type : ${motortypes}">
									<input type="radio" th:field="*{motors.type}" th:value="${type}" />
									<label th:for="${type}" th:text="${type}">[Induction]</label>
									</span>
								</div>
							</div>
						
							<div class="section group">
								<div class="col span_5">
									Series
								</div>
								<div class="col span_7">
									<select th:field="*{motors.series}">
										<option value=""></option>
										<option th:each="s : ${motorseries}"
												th:value="${s}"
												th:text="${s}">[562]
										</option>
									</select>
								</div>
							</div>			
						
						
							<div class="section group">
								<div class="col span_5">
									Motors #
								</div>
								<div class="col span_7">
									<input type="number" class="width-100" th:field="*{motors.qty}" />
								</div>
							</div>
							
							<div class="section group">
								<div class="col span_5">
									Total power, HP
								</div>
								<div class="col span_7">
									<input type="number" class="width-100" th:field="*{motors.hp}" />
								</div>
							</div>
							
							
							<div class="section group">
								<div class="col span_5">
									A, amps
								</div>
								<div class="col span_7">
									<input type="number" step="0.1" class="width-100" th:field="*{motors.amps}" />
								</div>
							</div>
							
							<div class="section group">
								<div class="col span_5">
									V, volts
								</div>
								<div class="col span_7">
									<input type="number" class="width-100" th:field="*{motors.volts}" />
								</div>
							</div>
									
						
							<div class="section group">
								<div class="col span_5">
									Corrosion resistance
								</div>
								<div class="col span_7">
									<select th:field="*{motors.metallurgy}">
										<option value=""></option>
										<option th:each="m : ${motormetallurgies}"
												th:value="${m}"
												th:text="${m}">[SS]
										</option>
									</select>
								</div>
							</div>
						
												
					</div>
									
						<div class="col span_6">
							<div class="section group">
								<div class="col span_12">
									Note:<br/>
									<textarea rows="7" class="width-100" th:field="*{motors.note}">
										[Some note relating to motors]
									</textarea>
								</div>
							</div>
							<div class="section group">
								<div class="col span_12">
									Upper motor serial
									<input type="text" th:field="*{motors.uMotorSerial}" />
								</div>
							</div>
							<div class="section group">
								<div class="col span_12">
									Lower motor serial
									<input type="text" th:field="*{motors.lMotorSerial}" />
								</div>
							</div>
						</div>
					
				
				</div>
	
			</div>
			<div id="sensor">
				<div class="section group">
		
					
						<div class="col span_6">
					
						
							<div class="section group">
								<div class="col span_5">
									Sensor brand
								</div>
								<div class="col span_7">
									<select th:field="*{sensor.brand}">
										<option value=""></option>
										<option th:each="br : ${T(ru.shaposhnik.runlifetracker.model.PSComponentSensor).brands}"
												th:value="${br}"
												th:text="${br}">[GRC]
										</option>
									</select>
								</div>
							</div>
						
							<div class="section group">
								<div class="col span_5">
									Reused?
								</div>
								<div class="col span_7">
									<span th:each="ru : ${T(ru.shaposhnik.runlifetracker.model.PSComponentSensor).reuses}">
									<input type="radio" th:field="*{sensor.reuse}" th:value="${ru}" />
									<label th:for="${ru}" th:text="${ru}">[New]</label>
									</span>
								</div>
							</div>
						
							<div class="section group">
								<div class="col span_5">
									Variables #:
								</div>
								<div class="col span_7">
									<select th:field="*{sensor.variables}">
										<option value=""></option>
										<option th:each="v : ${T(ru.shaposhnik.runlifetracker.model.PSComponentSensor).variableslist}"
												th:value="${v}"
												th:text="${v}">[6]
										</option>
									</select>
								</div>
							</div>					
						
							<div class="section group">
								<div class="col span_5">
									Serial number
								</div>
								<div class="col span_7">
									<input th:field="*{sensor.sn}"/>
								</div>
							</div>
					</div>
									
						<div class="col span_6">
							Note:<br/>
							<textarea rows="8" class="width-100" th:field="*{sensor.note}">
								[Some note relating to cable]
							</textarea>
						</div>
					
				
				</div>
				

			</div>
			<div id="cable">
				<div class="section group">
	
					
						<div class="col span_6">
					
						
							<div class="section group">
								<div class="col span_4">
									Cable brand
								</div>
								<div class="col span_8">
									<select class="pure-input-1-3" th:field="*{cable.brand}">
										<option value=""></option>
										<option th:each="br : ${cablebrands}"
												th:value="${br}"
												th:text="${br}">[ZTS]
										</option>
									</select>
								</div>
							</div>
						
						
							<div class="section group">
								<div class="col span_4">
									Cable length, ft
								</div>
								<div class="col span_8">
									<input type="number" class="width-100" th:field="*{cable.length}" />
								</div>
							</div>
						
							<div class="section group">
								<div class="col span_4">
									Reused?
								</div>
								<div class="col span_8">
									<span th:each="ru : ${reuses}">
									<input type="radio" th:field="*{cable.reuse}" th:value="${ru}" />
									<label th:for="${ru}" th:text="${ru}">[6]</label>
									</span>
								</div>
							</div>
						
							<div class="section group">
								<div class="col span_4">
									Cable#:
								</div>
								<div class="col span_8">
									<select class="pure-input-1-3" th:field="*{cable.xarea}">
										<option value=""></option>
										<option th:each="xa : ${xareas}"
												th:value="${xa}"
												th:text="${xa}">[6]
										</option>
									</select>
								</div>
							</div>					
						
							<div class="section group">
								<div class="col span_4">
									Armour
								</div>
								<div class="col span_8">
									<select class="pure-input-1-3" th:field="*{cable.armour}">
										<option value=""></option>
										<option th:each="ar : ${armours}"
												th:value="${ar}"
												th:text="${ar}">[SS]
										</option>
									</select>
								</div>
							</div>
						
							<div class="section group">
								<div class="col span_4">
									Capillary tube?
								</div>
								<div class="col span_8">
									<input type="checkbox" class="width-100" th:field="*{cable.isConcaptube}" />
								</div>
							</div>
						
							<div class="section group">
								<div class="col span_4">
									MLE S/N
								</div>
								<div class="col span_8">
									<input type="text" size="27" th:field="*{cable.mleSn}" />
								</div>
							</div>
							
							<div class="section group">
								<div class="col span_4">
									MLE Description
								</div>
								<div class="col span_8">
									<input type="text" size="27" th:field="*{cable.mleDescr}" />
								</div>
							</div>
						
					
					</div>
									
						<div class="col span_6">
							Note:<br/>
							<textarea rows="8" class="width-100" th:field="*{cable.note}">
								[Some note relating to cable]
							</textarea>
						</div>
					
			
				</div>
				

			</div>

				</div>
		
		
	
		<button sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_AP_ENGINEER')" type="submit" name="save" class="pure-button pure-button-primary">Update Installation</button>
		<button sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_AP_ENGINEER')" type="submit" name="delete" class="pure-button pure-button-primary">Delete Installation</button>
		<p class="log" th:if="${installation.id} != '0'">
			<span th:text="'Created '+*{createdDate}+' by '+*{createdByUser}">
				[Created 2015-04-12 by Pedro Perez]
			</span><br/>
			<span th:text="'Updated '+*{updatedDate}+' by '+*{updatedByUser}">
				[Updated 2015-04-12 by Pedro Perez]
			</span>
		</p>
	
			</fieldset>	
	
</form>	
</div>
<div class="col span_3" th:if="${installation.id} != '0'">
	  		
					<table class="pure-table pure-table-striped centered">
					<caption>Installation history</caption>
						<thead>
							<tr>
								<th>Event</th>
								<th>Date</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="width-20">Installed</td>
								<td class="width-10" th:text="${installation.instDate}">[2015-08-12]</td>
							</tr>
							<tr>
								<td>Started</td>
								<td sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_AP_ENGINEER')">
									<a href="event-start.html" 
										th:href="@{#installations/{id}/startevent(id=${installation.id})}" 
										th:text="${installation.startEvent != null}? ${installation.startEvent.eventDate} : 'Add'" class="ajax">
											[2015-08-12]
									</a>
								</td>
								<td sec:authorize="!hasAnyRole('ROLE_ADMIN', 'ROLE_AP_ENGINEER')">
									<a href="event-start.html" 
										th:href="@{#installations/{id}/startevent(id=${installation.id})}" 
										th:text="${installation.startEvent != null}? ${installation.startEvent.eventDate}" class="ajax">
											[2015-08-12]
									</a>
								</td>
							</tr>
							<tr>
								<td>Sensor failed</td>
								<td><a 	href="event-sensorevent.html" 
										th:href="@{#installations/{id}/sensorevent(id=${installation.id})}" 
										th:text="${installation.sensorEvent != null}? ${installation.sensorEvent.eventDate} : (${installation.startEvent} != null ? 'Add')" class="ajax">[2015-08-13]
									</a>
								</td>
							</tr>
							<tr>
								<td>Stopped</td>
								<td sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_AP_ENGINEER')">
									<a 	href="event-stop.html" 
										th:href="@{#installations/{id}/stopevent(id=${installation.id})}" 
										th:text="${installation.stopEvent != null}? ${installation.stopEvent.eventDate} : (${installation.startEvent != null}? 'Add')" class="ajax">[2015-08-13]
									</a>
								</td>
								<td sec:authorize="!hasAnyRole('ROLE_ADMIN', 'ROLE_AP_ENGINEER')">
									<a  href="event-stop.html" 
										th:href="@{#installations/{id}/stopevent(id=${installation.id})}" 
										th:text="${installation.stopEvent != null}? ${installation.stopEvent.eventDate} " class="ajax">[2015-08-13]
									</a>
								</td>
							</tr>
							<tr>
								<td>Pulled</td>
								<td><a 	href="event-pull.html" 
										th:href="@{#installations/{id}/pullevent(id=${installation.id})}" 
										th:text="${installation.pullEvent != null}? ${installation.pullEvent.eventDate} : (${installation.stopEvent != null}? 'Add')" class="ajax">[2015-08-14]</a></td>
							</tr>
							<tr>
								<td>Teardown</td>
								<td><a 	href="event-rca.html" 
										th:href="@{#installations/{id}/rcaevent(id=${installation.id})}" 
										th:text="${installation.rcaEvent != null}? ${installation.rcaEvent.eventDate} : (${installation.pullEvent == null or !installation.isFailure}? '' : 'Add')" class="ajax">[2015-08-15]</a></td>
							</tr>
							<tr>
								<td>RCA</td>
								<td><a 	href="event-client.html" 
										th:href="@{#installations/{id}/clientevent(id=${installation.id})}" 
										th:text="${installation.clientEvent != null}? ${installation.clientEvent.eventDate} : (${installation.rcaEvent != null}? 'Add')" class="ajax">[2015-08-15]</a></td>
							</tr>
						
							<tr>
								<td>Runlife,days</td>
								<td th:text="${installation.rundays}">[1100]</td>
							</tr>
						</tbody>
					</table>
<h5>Well <a th:href="@{#wells/{wellid}/installations(wellid=${installation.well.id})}"><span th:inline="text">[[${installation.well.name}]]</span></a> history</h5>

</div>
	  
</div>

	
<script sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_AP_ENGINEER')" type="text/javascript">
	$(function() {
	    $( "#instDate" ).datepicker({
	    	dateFormat: "yy-mm-dd"
	    });
	  });
</script>
<script type="text/javascript">
	$(function() {
	    $( "#tabs-installation-edit" ).tabs();
	  });
</script>


<script type="text/javascript">
//<![CDATA[
	var selected_id=document.getElementById("id");
	if (selected_id.value != 0 && window.location.hash != "#installations/"+selected_id.value+"/edit"){
		ignorehashchange=true
		window.location.hash="installations/"+selected_id.value+"/edit";
		
	}
	//]]>
</script>

<script>
//<![CDATA[
function deleteFile(){
    $.ajax({
        url:            'installations/'+$('form input#id').val()+'/deletefiles',
        type:           'POST',
        success:        function (id) {
                            $("div#file").empty();
                            $("div#file").append("<button type='button' onclick='selectFile()'>Add installation report</button>");
                            $("div#file").append("<input type='file' id='file' onchange='updateFile()' style='display:none'/>");
                        },
        error:          function(error){
                            alert("ERROR!!!"+error)
                        }
        });
}
function selectFile(){
    $('input[type=file]#file').trigger('click');
}
function updateFile(){
    var formData=new FormData();
    formData.append('enctype', 'multipart/form-data');
    formData.append('instid',$('form input#id').val());
    formData.append('filename','installation report');
    formData.append('file',$('input[type=file]#file')[0].files[0]);

    $.ajax({
        url:            'fileupload',
        data:           formData,
        processData:    false,
        contentType:    false,
        type:           'POST',
        success:        function (id) {
                            $("div#file").empty();
                            $("div#file").append("<a href='filedownload?id="+id+"' >Installation report</a>"," ");
                            $("div#file").append("<button type='button' onclick='deleteFile()'>Delete file </a>"," ");
                            $("div#file").append("<button type='button' onclick='selectFile()'>Update file</a>");
                            $("div#file").append("<input type='file' id='file' onchange='updateFile()' style='display:none'/>");
                        },
        error:          function(error){
                            alert("ERROR!!!"+error)
                        }
    });
}
//]]>
</script>
</div>


</body>

</html>
