<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>



<body>
<div id="body">

<div class="pure-g gutter">
	<div class="pure-u-1">

<script type="text/javascript"
  th:src="@{/webjars/multifilter.min.js}">
</script>

<div class="page-header">
	<h2>Installations</h2>
</div>

 	<div class="group">
	<div class="col span_1">
      <input autocomplete='off' class="filter" name='contract' placeholder='Contract' data-col='Contract'/>
    </div>
  	<div class="col span_1">
      <input autocomplete='off' class='filter' name='field' placeholder='Field' data-col='Field'/>
    </div>
    <div class="col span_1">
      <input autocomplete='off' class='filter' name='well' placeholder='Well' data-col='Well'/>
    </div>
    <div class="col span_1">
      <input autocomplete='off' class='filter' name='technology' placeholder='Technology' data-col='Technology'/>
    </div>
    <div class="col span_1">
      <input autocomplete='off' class='filter' name='instdate' placeholder='Installation date' data-col='Installation date'/>
    </div>
    <div class="col span_1">
      <input autocomplete='off' class='filter' name='stopdate' placeholder='Stop date' data-col='Stop date'/>
    </div>
    <div class="col span_1">
      <input autocomplete='off' class='filter' name='pullreason' placeholder='Pull reason' data-col='Pull reason'/>
    </div>
    <div class="col span_1">
      <input autocomplete='off' class='filter' name='pulldate' placeholder='Pull date' data-col='Pull date'/>
    </div>
    <div class="col span_1">
      <input autocomplete='off' class='filter' name='rootcause' placeholder='Root cause' data-col='Root cause'/>
    </div>
    <div class="col span_1">
      <input autocomplete='off' class='filter' name='responsibility' placeholder='Responsibility' data-col='Responsibility'/>
    </div>
    <div class="col span_1">
      <input autocomplete='off' class='filter' name='fcomponent' placeholder='Component' data-col='Failured component'/>
    </div>
    <div class="col span_1">
      <input autocomplete='off' class='filter' name='rca' placeholder='RCA' data-col='RCA'/>
    </div>
 	</div>
 
    
  <table class="pure-table pure-table-striped centered">

    <thead>
      <tr>
      	<th>Contract</th>
        <th>Field</th>
        <th style="width:80px">Well</th>
        <th style="width:23px">Technology</th>
        <th style="width:85px">Installation date</th>
        <th style="width:85px">Start date</th>
        <th style="width:25px">Runlife</th>
        <th style="width:85px">Sensor failed</th>
        <th style="width:85px">Stop date</th>
        <th>Pull reason</th>
        <th style="width:85px">Pull date</th>
        <th style="width:25px">Root cause</th>
        <th style="width:25px">Responsibility</th>
        <th style="width:25px">Failured component</th>
        <th style="width:50px">RCA</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="installation : ${allInstallations}">
      	<td th:text="${installation.contract.name}">[SOA]</td>
        <td th:text="${installation.well.field.name}">[Apiay]</td>
        <td th:text="${installation.well.name}">[AP-012]</td>
        <td th:text="${installation.technology}">[ESP]</td>
        <td>
        	<a href="installation_edit.html" 
        		th:href="@{#installations/{id}/edit(id=${installation.id})}" 
        		th:text="${installation.instDate}"
        		class="ajax">[27-02-2015]</a></td>      
        <td th:text="${installation.startEvent != null} ? ${installation.startEvent.eventDate}">[28-02-2015]</td>
        <td th:text="${installation.rundays}">[1100]</td>
        <td th:text="${installation.sensorEvent != null} ? ${installation.sensorEvent.eventDate}">[28-02-2015]</td>
        <td>
        	<a th:if="${installation.stopEvent != null}" href="installation_edit.html" 
        			th:href="@{#installations/{id}/stopevent(id=${installation.id})}" 
        			th:text="${installation.stopEvent.eventDate}"
        			class="ajax">[27-02-2015]</a>
        </td>
        <td th:text="${installation.stopEvent != null} ? ${installation.stopEvent.pullReason.label}" style="text-align:center">[Manufacture]</td>
        <td>
         	<a th:if="${installation.pullEvent != null}" href="installation_edit.html" 
        			th:href="@{#installations/{id}/pullevent(id=${installation.id})}" 
        			th:text="${installation.pullEvent.eventDate}"
        			class="ajax">[27-02-2015]</a>
         </td>
        <td>
        	<a th:if="${installation.rcaEvent != null and installation.rcaEvent.rootCause != null}" href="installation_edit.html" 
        			th:href="@{#installations/{id}/rcaevent(id=${installation.id})}" 
        			th:text="${installation.rcaEvent.rootCause.label}"
        			class="ajax">[Manufacture]</a>
        </td>
        <td th:text="${installation.rcaEvent != null and installation.rcaEvent.responsibility != null} ? ${installation.rcaEvent.responsibility.label}" style="text-align:center">[ESP vendor]</td>
		<td th:text="${installation.rcaEvent != null and installation.rcaEvent.failuredComponent != null} ? ${installation.rcaEvent.failuredComponent.label}" style="text-align:center">[Pump]</td>
        <td th:text="${installation.RCAColumn}" style="text-align:center">[True]</td>
      </tr>
    </tbody>
  </table>

	<script type='text/javascript'>
    //<![CDATA[
      $(document).ready(function() {
        $('.filter').multifilter()
      })
    //]]>
  </script>

</div>
</div>
</div>
</body>

</html>
