<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


<body>
<div id="body">

<script type="text/javascript"
  th:src="@{/webjars/dygraph-combined.js}"></script>


<div class="section group">


	<div class="col span_10">
	
		<div id="graphdiv" style="height:600px"></div>
		
	</div>
	
	<div class="col span_2">
	
		<form class="pure-form pure-form-stacked" action="#" th:action="@{/runlifestat}" method="get">
		<input hidden="hidden" name="type" th:value="${statType}"/>
		<fieldset>
		<div class="container">
			<label>Analyze by:</label>
			<label for="byContract">
				<input type="radio" id="byContract" th:name="analyzeBy" th:value="contract" th:checked="${analyzeby == 'contract'}? true"/>
				Contract
			</label>
			<label for="byField">
				<input type="radio" id= "byField" th:name="analyzeBy" th:value="field" th:checked="${analyzeby == 'field'}? true"/>
				Field
			</label>
			<p th:if="${statType} == MTBF">
				Window, days:<br/>
				<select th:name="window">
					<option value="182" th:selected="${window == 182}? true">182</option>
					<option value="365" th:selected="${window == 365}? true">365</option>
					<option value="5000" th:selected="${window == 5000}? true" >Historic</option>
				</select>
			</p>
			<input hidden="hidden" th:name="window" value="365" th:if="${statType} != MTBF"/>
			<p>
				Country:<br/>
				<select th:name="country">
					<option th:each="c : ${allCountries}" th:value="${c}" th:text="${c}" th:selected="${c == selcountry}? true">[Colombia]</option>
				</select>
			</p>
			<button type="submit" class="pure-button">Update graph</button>
		
			<p/>
			<label>Display</label>
			<label>
				<input type="checkbox" onClick="selectall(this)" checked="checked"/>
				<span>ALL</span>
			</label>
			<label th:each="label,labelStat : ${labels}">
				<input type="checkbox" th:id="${labelStat.index}" onClick="setswitch(this)" checked="checked" name="switcher"/>
				<span th:for="${label}" th:text="${label.key}">Set1</span>
			</label>
				
		</div>
		</fieldset>
		</form>
	
	</div>

</div>
<script th:inline="javascript">


  var mylabels=/*[[${labels}]]*/;
  var data =/*[[${data}]]*/;

  mtbfchart=new Dygraph(

    // containing div
    document.getElementById("graphdiv"),
    
    
    data,
    
    {
		title: /*[[${statType}]]*/,
		labelsDivWidth: 700,

		drawGapEdgePoints: true,
  	
    	stackedGraph: false,
    	strokeBorderWidth: 1,
         
    	 highlightCircleSize: 2,
         strokeWidth: 1.5,
       
         highlightSeriesOpts: {
             strokeWidth: 4,
             strokeBorderWidth: 1,
             highlightCircleSize: 5,

           },
           
    }

  );
  function setswitch(el) {
	    mtbfchart.setVisibility(el.id, el.checked);
	  }
  
	//<![CDATA[
  function selectall(source) {
	  
	  checkboxes = document.getElementsByName('switcher');
	  for(var i=0, n=checkboxes.length;i<n;i++) {
	    checkboxes[i].checked = source.checked;
	    setswitch(checkboxes[i]);
	  }
	};
	//]]>
  var onclick = function(ev) {
	    if (mtbfchart.isSeriesLocked()) {
	      mtbfchart.clearSelection();
	    } else {
	      mtbfchart.setSelection(mtbfchart.getSelection(), mtbfchart.getHighlightSeries(), true);
	    }
	  };
  mtbfchart.updateOptions({clickCallback: onclick}, true);
  
  var annotations = [];
  createAnnotations = function(ann){
	  for (var label in mylabels){
		  ann.push(
			{
		  		series: label,
		    	x: mylabels[label],
		    	shortText: label,
		    	width:60,
		    	text: label,
		    	cssClass: "myAnnotations",
		  	} 
		  );
		  
	  };
  }
  
  createAnnotations(annotations);
  mtbfchart.setAnnotations(annotations);
  console.log(annotations);
  
</script>


</div>	
</body>

</html>
