<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


<body>
<div id="body">

<script type="text/javascript"
  th:src="@{/webjars/dygraph-combined.js}"></script>


<div class="section group">


	<div class="col span_10">
	
		<div id="graphdiv" style="height:600px"></div>
		<small>(*)95% confidence interval is shown</small>
	</div>
	
	<div class="col span_2">
	
		<form><fieldset>
		<div class="container">
			
 			<label>Display</label>
 			<br/>
 			<label>
				<input type="checkbox" onClick="selectall(this)" checked="checked" id="selectAllCheckbox"/>
				<strong>ALL</strong>
			</label>
			<br/>
 			<div id="labels">
 			</div>
			<a id="sourceData" href="#">Source data</a>
		</div>			
		</fieldset>
		</form>

		
	</div>

</div>

<form class="pure-form">

		<fieldset>
		<div class="container">
			<label>Analyze by:</label>
			<label for="byCountry" th:if="${#arrays.length(allCountries) != 1}">
				<input type="radio" id="byCountry" name="analyzeBy" value="country"/>
				Country|
			</label>
			<label for="byContract">
				<input type="radio" id="byContract" name="analyzeBy" value="contract" checked="checked" />
				Contract|
			</label>
			<label for="byField">
				<input type="radio" id= "byField" name="analyzeBy" value="field" />
				Field|
			</label>
			<label for="byPumpsBrand">
				<input type="radio" id="byPumpsBrand" name="analyzeBy" value="pumpsBrand"/>
				Pumps brand|
			</label>
			<label for="byPumpsSeries">
				<input type="radio" id="byPumpsSeries" name="analyzeBy" value="pumpsSeries"/>
				Pumps series|
			</label>
			<label for="byPumpsAssemblingType">
				<input type="radio" id="byPumpsAssemblingType" name="analyzeBy" value="pumpsAssemblingType"/>
				Pumps assembling type|
			</label>
			<label for="byMotorsBrand">
				<input type="radio" id="byMotorsBrand" name="analyzeBy" value="motorsBrand"/>
				Motors brand|
			</label>
			<label for="byMotorsSeries">
				<input type="radio" id="byMotorsSeries" name="analyzeBy" value="motorsSeries"/>
				Motors series|
			</label>
			<br/>
			Filter by:
			Country:
			<select th:name="country">
				<option value="*">*</option>
				<option th:each="country : ${allCountries}" th:value="${country}" th:text="${country}">[Colombia]</option>
			</select>
			Contract:
			<select th:name="contract">
				<option value="*">*</option>
				<option th:each="contract : ${allContracts}" th:value="${contract.id}" th:text="${contract.name}">[Chichimene]</option>
			</select>
			Field:
			<select th:name="field">
				<option value="*">*</option>
				<option th:each="field : ${allFields}" th:value="${field.id}" th:text="${field.name}">[Chichimene]</option>
			</select>
			Pumps brand:
			<select name="pumpsBrand">
				<option value="*">*</option>
				<option th:each="br : ${T(ru.shaposhnik.runlifetracker.model.PSComponentPumps).brands}"	th:value="${br}" th:text="${br}">[ZTS]</option>
			</select>
			
			Pumps series
			<select name="pumpsSeries">
				<option value="*">*</option>
				<option th:each="series : ${T(ru.shaposhnik.runlifetracker.model.PSComponentPumps).seriess}"
						th:value="${series}"
						th:text="${series}">[538]
				</option>
			</select>
					
			
			Pumps assembling type
			<select name="pumpsAssemblingType">
				<option value="*">*</option>
				<option value="F">F</option>
				<option value="C">C</option>
			</select>
				
			
			<p th:if="${type == 'mtbf'}">
				Window, days:<br/>
				<select th:name="window">
					<option value="182">182</option>
					<option value="365" selected="selected">365</option>
					<option value="5000">Historic</option>
				</select>
			</p>
			<p>
				
			</p>
			<button type="submit" class="pure-button"  onclick="handleForm();">Update graph</button>
		
			<p/>
 							
		</div>
		</fieldset>
		</form>



<script th:src="@{/webjars/d3.min.js}"></script>

<script th:inline="javascript">	
//<![CDATA[
           
function handleForm(){
	
	var window=document.getElementsByName("window")[0];
	if (window)
		var windowVal=window.options[window.selectedIndex].value;
	else
		var windowVal="365";
	
	var country=document.getElementsByName("country")[0];
	var countryVal=country.options[country.selectedIndex].value;
	
	var analyzeBy=document.getElementsByName("analyzeBy");
	var analyzeByVal;
	[].forEach.call(analyzeBy,function(e){
		if (e.checked) analyzeByVal=e.value;
		});
	
	drawGraph(countryVal,windowVal,analyzeByVal);
	
	return false;
}
           
           
var type=/*[[${type}]]*/;          
var mtbfchart;
var mylabels;
var labelsQty;
var csv;
var nativeData;
var annotations;
  
handleForm();

function drawGraph(country,window,analyzeBy){

	document.getElementById("selectAllCheckbox").checked = true;
	
	d3.text("/runlifetracker/runlifestat/runlife.txt?graphtype="+type+"&country="+country+"&window="+window+"&analyzeBy="+analyzeBy,"text/csv", function(error, text) {

		document.getElementById("sourceData").href="/runlifetracker/runlifestat/runlife.txt?graphtype="+type+"&country="+country+"&window="+window+"&analyzeBy="+analyzeBy;
		var maxvalues=[];
		
		nativeData=[];
		d3.csv.parse(text).forEach(function(row,i){

			if (i=== 0){
				mylabels=d3.keys(row);
				annotations=[];

				// creating annotations
				mylabels.forEach(function(l){
					maxvalues.push(0);
					annotations.push(
						{
					  		series: l,
					    	shortText: l,
					    	width:60,
					    	cssClass: "myAnnotations",
					    	x: ""
					  	});
				});


			}
			
			row2save=[];
			mylabels.forEach(function(col,i){
				if (i === 0)
					row2save.push(Date.parse(row[col]));
				else {
					if (!row[col])
						row2save.push(NaN);
					else {
						var cellLength=row[col].split(";").length;
						
						switch (cellLength) {
							case 3:
								var curval=row[col].split(";").map(function(d){return +d;});
								break;
							case 1:
								// if the data does not contain errors values, we will create them
								var curval=[];
								curval.push(+row[col]);
								curval.push(+row[col]);
								curval.push(+row[col]);
								break;
							default: 
								break;								
						}
						row2save.push(curval);
						if (curval[1]>maxvalues[i]){
							maxvalues[i]=curval[1];
							annotations[i].x=Date.parse(row["Date"]);
						} 
					}
				}
			});
			nativeData.push(row2save);
		});

				
		labelsQty=mylabels.length-1;

		annotations.shift();

		var showCustomBars=false;
		if (mylabels.length<=3)
			showCustomBars=true;
		
		
		mtbfchart=new Dygraph(
	
	    	// containing div
	    	document.getElementById("graphdiv"),
	    
			getData(showCustomBars),	    
	    
	    	{
	    		customBars: showCustomBars,
	    		labels: mylabels,
				title: type,
				labelsDivWidth: 700,
	
				axes: {
					x: { axisLabelFormatter: function(d,gran,opt){
									var label= new Date(parseInt(d));
									var month=label.getMonth()+1;
//									return label;
									return Dygraph.dateAxisLabelFormatter(label,Dygraph.MONTHLY,opt);
									},

						 valueFormatter: function(d){
							 		var label= new Date(parseInt(d));
							 		var month=label.getMonth()+1;
							 		var day=label.getDate()+1;
							 		return label.getFullYear()+"-"+month+"-"+day;
						 			}
	    				}
					
				},
				
				
				
				drawGraphEdgePoints: true,
	  	
	    		stackedGraph: false,
	    		strokeBorderWidth: 1,
	         
	    		highlightCircleSize: 2,
	        	strokeWidth: 1.5,
	       
	        	highlightSeriesOpts: {
	            	strokeWidth: 4,
	            	strokeBorderWidth: 1,
	            	highlightCircleSize: 5	
	            }	    	
	    	});
		
		mtbfchart.setAnnotations(annotations);  	

		
		var onclick = function(ev) {
 			if (mtbfchart.isSeriesLocked()) {
      			mtbfchart.clearSelection();
    		} else {
      			mtbfchart.setSelection(mtbfchart.getSelection(), mtbfchart.getHighlightSeries(), true);
    		}
  			};
  
		mtbfchart.updateOptions({clickCallback: onclick}, true);
		
		
		// creating the list of labels with checkboxes		
		container=document.getElementById("labels");
		// deleting old labels
		while (container.firstChild){
			container.removeChild(container.firstChild)
		};
		// populating labels
		mylabels.forEach(function(l,i){
			if (i>0){
				var label=document.createElement("label");
				var checkbox=document.createElement("input");
					checkbox.type="checkbox";
					checkbox.checked=true;
					checkbox.id=i;
					checkbox.name="switcher";
					checkbox.onclick=function(){setswitch(checkbox);};
				label.appendChild(checkbox);				
				label.appendChild(document.createTextNode(" "+l));
	
				container.appendChild(label);
				var p=document.createElement("br");
				container.appendChild(p);
			}
		});
		
		
			
	// end of d3.text	
	}); 
// end of drawGraph  
}  

function setswitch(el) {
    mtbfchart.setVisibility(el.id-1, el.checked);
   

	if (el.checked && labelsQty == 2)
		mtbfchart.updateOptions({ customBars: false, 'file': getData(false) });
		
	if (!el.checked && labelsQty == 3){
		mtbfchart.updateOptions({ customBars: true, 'file': getData(true) });
	}
	
	if (el.checked == true)
	   	labelsQty+=1;
	else
		labelsQty-=1;

  } 

function getData(customBars){
	if (customBars) return nativeData;
	else
		return nativeData.map(function(row){
			var newRow=[];
			row.forEach(function(col){
				if (col instanceof Array)
					newRow.push(col[1])
				else
					newRow.push(col);
			});
			return newRow;
		});
}

function selectall(source) {
  
  var checkboxes = document.getElementsByName('switcher');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    if(checkboxes[i].checked != source.checked){
		checkboxes[i].checked = source.checked;
    	setswitch(checkboxes[i]);
    }
  }
};


$('input[type=radio][name=analyzeBy]').on('change',function(){
	$("select").prop('disabled',false);
	$("select[name="+this.value+"]"+" option[value='*']").prop('selected', true);
	$("select[name="+this.value+"]").prop('disabled',true);

});



  //]]>
</script>


</div>	
</body>

</html>
