<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.springframework.org/security/tags">

  <head>
    <title>Runlife Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


	
	<link rel="stylesheet" th:href="@{/css/pure.css}"/>
	<link rel="stylesheet" th:href="@{/css/runlifetracker.css}"	/>
	<link rel="stylesheet" th:href="@{/css/responsivegrid.css}"/>
	<link rel="stylesheet" th:href="@{/css/w3.css}"/>
	<link rel="stylesheet" th:href="@{/css/c3.css}"/>




<style>
.header {
    background-color:#cc0000;
    color:white;
    text-align:center;
    padding:1px;
    letter-spacing: 7px;
}
.nav {
    line-height:25px;
    background-color:#eeeeee;
    color: #000000;
    float:left;
    padding:0px; 
}
section {
    width:350px;
    float:left;
    padding:10px; 
}
.footer {
    background-color:#cc0000;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
</style>


   
</head>

<body>



<header class= "header">
	<h1>Runlifetracker</h1>
	
</header>

	 
	<div class="pure-g">
	
	
		 <div class="pure-u-1-12 nav">
			<ul class="pure-menu-list">
				<li class="pure-menu-item">
					<a class="pure-menu-link ajax" th:href="@{#alafecha/init}">TODAY</a>
				</li>
				<li class="pure-menu-separator">
		         </li>
				<li class="pure-menu-item">
					<a class="pure-menu-link ajax" href="#wells">Wells</a>
				</li>  
		         <li class="pure-menu-item">
		         	<a class="pure-menu-link ajax" href="#installations">Installations</a>
		         </li>
		         <li class="pure-menu-item" sec:authorize="hasRole('ROLE_ADMIN')">
		         	<a class="pure-menu-link ajax" href="#users">Users</a>
		         </li>
		         <li class="pure-menu-item" sec:authorize="hasRole('ROLE_ADMIN')">
		         	<a class="pure-menu-link ajax" href="#fields">Fields</a>
		         </li>
		         <li class="pure-menu-item" sec:authorize="hasRole('ROLE_ADMIN')">
		         	<a class="pure-menu-link ajax" href="#clients">Clients</a>
		         </li>
		         <li class="pure-menu-item" sec:authorize="hasRole('ROLE_ADMIN')">
		         	<a class="pure-menu-link ajax" href="#contracts">Contracts</a>
		         </li>
		         <li class="pure-menu-item" sec:authorize="hasRole('ROLE_ADMIN')">
		         	<a class="pure-menu-link ajax" href="#fieldtechnicians">Field technicians</a>
		         </li>
		         <li class="pure-menu-separator">
		         </li>
		          <li class="pure-menu-item">
		         	<a class="pure-menu-link ajax" href="summary" th:href="@{#summary/init}">Field activity</a>
		         </li>
		         <li class="pure-menu-separator">
		         </li>
		         <li class="pure-menu-item">
		         	<a class="pure-menu-link ajax" href="mtbf2" th:href="@{#runlifestat/init(type=mtbf)}">MTBF</a>
		         </li>
<!--             <li class="pure-menu-item">
		         	<a class="pure-menu-link ajax" th:href="@{#runlifestat/init2(type=mtbf)}">MTBF2</a>
		         </li>
-->              <li class="pure-menu-item">
		         	<a class="pure-menu-link ajax" href="mtbf2" th:href="@{#runlifestat/init(type=fi)}">Failures index</a>
		         </li>
		         <li class="pure-menu-item">
		         	<a class="pure-menu-link ajax" href="teardowns" th:href="@{#teardowns}">Failures stat</a>
		         </li>
		          <li class="pure-menu-separator">
		         </li>
		          <li class="pure-menu-item">
		         	<a class="pure-menu-link ajax" href="installations.xls" th:href="@{/installations.xls}">Excel</a>
		         </li>
		         <li class="pure-menu-item">
		         	<a class="pure-menu-link ajax" href="user" th:href="@{#user}">Current user</a>
		         </li>
		         <li class="pure-menu-item">
		         	<a class="pure-menu-link ajax" href="logout" th:href="@{/logout}">Log Out</a>
		         </li>
		         
			</ul>	
		</div>
	 
		<div id="main" class="pure-u-11-12">			
			<div class="container" id="maincontent"></div>
	  	</div>
  	
  </div>
  	
	<div class="footer">
		Borets
	</div>


	<script th:src="@{/webjars/jquery-1.11.3.min.js}"></script>            
	<script th:src="@{/webjars/jquery-ui.min.js}"></script>

	 
  	<script th:inline="javascript">
  //<![CDATA[
               	
  	$(document).ready(function(){
	
  	var ignorehashchange = false;

  	var base = /*[[@{/}]]*/ null;

		ajaxLoad = function(href){
			$.ajax(base+href, {
			type: 'GET',
			dataType: 'html',
			success: function( resp ) {		    			
		    			$("#maincontent").html($(resp).filter("#body").html());
                        $('html body').css("cursor","auto");
		  			},
			error:	function( req, status, err ) {
                        $('html body').css("cursor","auto");
		    			console.log( 'something went wrong', status, err );
		    			alert(status+": "+err);
		  			}
			});
		}
		


    	$(document).on("click", ":submit", function(){
    		var $formData='';
    		if($(this).attr('name') != null){
    			$formData=$(this).attr('name')+'&';
    		}
    		var $theForm=$(this).closest('form');
    		$formData=$formData+$theForm.serialize();
            $('html body').css("cursor","wait");
		     $.ajax({
		    	dataType:   "html",
	         	type:       $theForm.attr('method'),
  		       	url:        $theForm.attr('action'),
 	        	data:       $formData,
 	        	success:    function( resp ) {
 	        				    $("#maincontent").html($(resp).filter("#body").html());
                                $('html body').css("cursor","auto");
         				    },
		        error:	    function( req, status, err ) {
                                $('html body').css("cursor","auto");
	    			            console.log( 'something went wrong', status, err );
	    			            alert(status+": "+err);
	  			            }
     		});

     		// prevent submitting again
     		return false;
		});
    	

    	if (window.location.hash === ""){
            $('html body').css("cursor","wait");
    		ajaxLoad('alafecha/init')
    	} else {
    		ajaxLoad(window.location.hash.substr(1));
    	}
    	
    	$(window).on('hashchange', function() {
    		if (ignorehashchange)
    			ignorehashchange=false;
    		else{
                $('html body').css("cursor","wait");
      	  		ajaxLoad(window.location.hash.substring(1));
            }
      	  
      	});	
    	
    	
    	
  	})
	
    // Global variables
    var fieldActivitySettingsNum;  	
    var fieldActivityParams={};  	

    var aLaFechaSettingsNum;  	
    var aLaFechaParams={};  	
  	
	
	
 //]]>
</script>

</body>
  
</html>
