<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


<body>
<div id="body">

<br/>
	<div class="centered" style="max-width:600px">

		<form class="pure-form">
			<input type="text" hidden="hidden" th:name="eventType" th:value="${eventType}"/>
			<fieldset>
				<div class="centered" style="width:95%">
					<div class="section group">
					
						<div class="col span_4">
							<label>Country</label>
							<select th:name="country">
								<option th:each="c : ${allCountries}" th:value="${c}" th:text="${c}" th:selected="${c == country}">
									[Colombia]
								</option> 
							</select>
						</div>
						
						<div class="col span_4">
							<label>By</label>
							<select th:name="period">
								<option value="month" th:selected="${period == 'month'}? true">Month</option>
								<option value="quarter" th:selected="${period == 'quarter'}? true">Quarter</option>
								<option value="year" th:selected="${period == 'year'}? true" >Year</option>
							</select>
						</div>
						
					<div class="col span_4">
						<button type="submit" class="pure-button" onclick="handleForm();">Update data</button>
					</div>
					
				</div>
                <label><input type="radio" name="eventType" value="" checked="checked" />Installations</label>
                <label><input type="radio" name="eventType" value="START" />Starts</label>
                <label><input type="radio" name="eventType" value="STOP" />Stops</label>
                <label><input type="radio" name="eventType" value="PULL" />Pulls</label>
                <label><input type="radio" name="eventType" value="RCA" />Teardowns</label>
                <label><input type="radio" name="eventType" value="CLIENT" />RCA</label>
                <label><input type="radio" name="eventType" value="SENSOR" />Sensor failures</label>
			</div>
		</fieldset>
	
        <div id="layouts">Layout: </div>
	</form>

</div>

<table class="pure-table pure-table-bordered centered" id="activityTable3">
</table>

<p/>

<script th:src="@{/webjars/d3.min.js}"></script>
<script th:src="@{/webjars/mylib.js}"></script>            
<script>
//<![CDATA[

    var tableSettings=[
            {
            name:           "clients-contracts",
            el:             "table#activityTable3",
            caption:        function(){
                                switch(this.params.eventType){
                                    case "":        return "Installations";
                                    case "START":   return "Starts";
                                    case "STOP":    return "Stops";
                                    case "PULL":    return "Pulls";
                                    case "RCA":     return "Teardowns";
                                    case "CLIENT":  return "RCAs with client";
                                    case "SENSOR":  return "Sensor failures";
                                    default:        return "Undefined";
                                };
                            },
			cellValue:      function(id1,id2,id3,val){
                                    if (id2==0)
                                        return val;
                                    else 
     			    	                return "<a href='#installations/filter?eventType="+this.params.eventType+"&country="+this.params.country+"&period="+this.params.period+"&dateFrom="+id3+"&fieldId=0"+"&contractId="+id2+"' >"+val+"</a>";
                            },
            colNameLevel1:  "Client",
            getKeyLevel1:   function(row){return [row.ClientName,row.ClientID];},

            colNameLevel2:   "Contract",
            getKeyLevel2:    function(row){return [row.ContractName,row.ContractID]},

            getKeyPivoted:   function(d){return d.Period;},

            // Preparing dynamic columns names
            colNamePivoted:    function(d){
                                        var col=new Date(d);
                                        switch(this.params.period){
                                            case "month":
                                                return col.getUTCFullYear()+"-"+(col.getUTCMonth()+1);
                                            case "quarter":
                                                return col.getUTCFullYear()+"-Q"+Math.floor(col.getUTCMonth()/3+1);
                                            case "year":
                                                return col.getUTCFullYear();
                                            default:
                                                return "Undefined";
                                        };
                                    },
            getValue:       function(row){return +row.EventsQty;},
            params:         {}
            },

            {
            name:           "contracts-fields",
            el:             "table#activityTable3",
            caption:        function(){
                                switch(this.params.eventType){
                                    case "":        return "Installations";
                                    case "START":   return "Starts";
                                    case "STOP":    return "Stops";
                                    case "PULL":    return "Pulls";
                                    case "RCA":     return "Teardowns";
                                    case "CLIENT":  return "RCAs with client";
                                    case "SENSOR":  return "Sensor failures";
                                    default:        return "Undefined";
                                };
                            },
			cellValue:      function(id1,id2,id3,val){
                                    if (id1==0 && id2==0)
                                        return val;
                                    else 
     			    	                return "<a href='#installations/filter?eventType="+this.params.eventType+"&country="+this.params.country+"&period="+this.params.period+"&dateFrom="+id3+"&contractId="+id1+"&fieldId="+id2+"' >"+val+"</a>";
                            },
            colNameLevel1:    "Contract",
            getKeyLevel1:     function(row){return [row.ContractName,row.ContractID] ;
                            },

            colNameLevel2:   "Field",
            getKeyLevel2:    function(row){return [row.FieldName,row.FieldID]},

            getKeyPivoted:     function(d){return d.Period;},

            // Preparing dynamic columns names
            colNamePivoted:    function(d){
                                        var col=new Date(d);
                                        switch(this.params.period){
                                            case "month":
                                                return col.getUTCFullYear()+"-"+(col.getUTCMonth()+1);
                                            case "quarter":
                                                return col.getUTCFullYear()+"-Q"+Math.floor(col.getUTCMonth()/3+1);
                                            case "year":
                                                return col.getUTCFullYear();
                                            default:
                                                return "Undefined";
                                        };
                                    },

            getValue:       function(row){return +row.EventsQty;},
            params:         {}
        }];


    // Update the form with saved settings if there are saved settings
    if (fieldActivityParams.hasOwnProperty("country")){
        $('fieldset select[name=country] option[value="'+fieldActivityParams.country+'"]').prop('selected',true);
        $('fieldset select[name=period] option[value="'+fieldActivityParams.period+'"]').prop('selected',true);
        $('input[name=eventType][value="'+fieldActivityParams.eventType+'"]').prop('checked',true);
    } else
        fieldActivitySettingsNum=0;

    // Filling in the list with available layouts
    tableSettings.forEach(function(s,i){
            s["params"]=fieldActivityParams;
            var selected="";
            if (tableSettings[fieldActivitySettingsNum].name == s.name)
                selected="checked";
            $("div#layouts").append("<label><input type='radio' name='layouts' onchange=changeLayout(this) "+selected+" value="+i+" />"+s.name+" </label>");
        })


    handleForm();

    function url(params){
        return "summary/csv?period="+params.period+"&country="+params.country+"&eventType="+params.eventType;
    }

    function handleForm(){
    	
    	fieldActivityParams.country=$('fieldset select[name=country] option:selected').val();
    	fieldActivityParams.period=$('fieldset select[name=period] option:selected').val();
    	fieldActivityParams.eventType=$('input[name=eventType]:checked').val();

        tableSettings[fieldActivitySettingsNum]["params"]=fieldActivityParams;
        d3.csv(url(fieldActivityParams),
                function(data) {
                    csv=data;
                    drawPivotedTable(tableSettings[fieldActivitySettingsNum],data);
                });
    };

    function changeLayout(el){
        fieldActivitySettingsNum=el.value;
        tableSettings[fieldActivitySettingsNum]["params"]=fieldActivityParams;
        drawPivotedTable(tableSettings[fieldActivitySettingsNum],csv);
    }
//]]>
</script>



</div>	
</body>

</html>
