<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
<meta charset="utf-8"/>


<link rel="stylesheet" th:href="@{/css/c3.css}"/>

<body>
<div id="body">

	<label>Select a country</label>
	<select id="selectCountry" onchange="drawChart4Country(this.value)">
		<option th:each="country : ${allCountries}" th:value="${country}" th:text="${country}">
		</option>	
	</select>
	
	
	<label>Select a contract</label>
	<select id="selectContract" onchange="drawChart4Something('Contract', this.value)">
			
	</select>
	
	
	<label>Select a field</label>
	<select id="selectField" onchange="drawChart4Something('Field',this.value)">
			
	</select>

<h2>Failure root causes</h2>
<div id="chart1">
</div>

<h2>Failure responsibility</h2>
<div id="chart-responsibility">
</div>


<h2>Failured components</h2>
<div id="chart2">
</div>


<script th:src="@{/webjars/d3.min.js}"></script>
<script th:src="@{/webjars/c3.min.js}"></script>


<!-- 
<script src="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>

-->
<script th:inline="javascript">
//<![CDATA[

var origData;
           
           
drawChart4Country(/*[[${allCountries[0]}]]*/null);          

function drawChart4Something(fdim,fvalue){
	
	switch (fdim){
		case "Contract":
			var domElement=document.getElementById("selectField");
			break;
		case "Field":
			var domElement=document.getElementById("selectContract");
			break;
		default:
			alert("Something wrong");
	}
	domElement.value="";
	document.getElementById("selectCountry").value="";
	
	// First chart
	var chartSettings=prepareData("Year","Rootcause",fdim,fvalue);
	chartSettings.bindto = "#chart1";
	chartSettings.legend= {position: "right"};
	chartSettings.data.type = "bar";
	chartSettings.data.order = null;
	chartSettings.grid={
			y: {lines: [{value:0}]
				}
		};
	
	chartSettings.axis= {x: {type: "category"}};
	chartSettings.axis.y={label: "Failures Quantity"};
	 

	var chart1 = c3.generate(chartSettings);
	
	
	// Second chart
	var chartSettings2=prepareData("Year","Fcomponent",fdim,fvalue);
	chartSettings2.bindto = "#chart2";
	chartSettings2.legend= {position: "right"};
	chartSettings2.data.type = "bar";
	chartSettings2.data.order = null;
	chartSettings2.grid={
			y: {lines: [{value:0}]
				}
		};
	
	chartSettings2.axis= {x: {type: "category"}};
	chartSettings2.axis.y={label: "Failures Quantity"};
	 
	console.log(chartSettings);
	var chart2 = c3.generate(chartSettings2);
	
	
	// Responsibility chart
	var chartSettingsResp=prepareData("Responsibility","Year",fdim,fvalue);
	chartSettingsResp.bindto = "#chart-responsibility";
	chartSettingsResp.legend= {position: "right"};
	chartSettingsResp.data.type = "bar";
	chartSettingsResp.data.order = null;
	chartSettingsResp.grid={
			y: {lines: [{value:0}]
				}
		};
	
	chartSettingsResp.axis= {x: {type: "category"}};
	chartSettingsResp.axis.y={label: "Failures Quantity"};
	 
	console.log(chartSettingsResp);
	var chartResp = c3.generate(chartSettingsResp);
	
	
}


function drawChart4Country(country){           
           
           
d3.csv("teardownsstat?country="+country, function(error, csv) {
	
	origData=csv;
	
	var nest = d3.nest()
	.key(function(d) { return d.Contract; })
	.key(function(d) { return d.Rootcause; })
	.rollup(function(d){
						return d3.sum(d,function(g){return +g.Qty})
						});
	
	 var mydata = nest.map(csv);
	
	 
	 // Preparing the list of contracts
	 var contracts=d3.keys(d3.nest().key(function(d){return d.Contract; }).map(csv));
	 var select=document.getElementById("selectContract");
	 prepareOptions(select,contracts);
	 
	 
	 
	// Preparing the list of fields
	 var fields=d3.keys(d3.nest().key(function(d){return d.Field; }).map(csv));
	 var select=document.getElementById("selectField");
	 prepareOptions(select,fields);
	 
	 
     var keys1=d3.keys(d3.nest().key(function(d){return d.Contract; }).map(csv));
 
     var keys2=d3.keys(d3.nest().key(function(d){return d.Rootcause; }).map(csv));
  
     var preparedData=keys1.map(function(d1){
    	 var tmp= keys2.map(function(d2){
	           		return (typeof mydata[d1][d2] === 'undefined') ? 0 : mydata[d1][d2] ; 
	 				});
	     tmp.unshift(d1);  
    	 return tmp;
     });
     
 
	var chartSettings={};
	chartSettings.bindto = "#chart1";
	chartSettings.legend= {position: "right"};
	chartSettings.data = {type:'bar'};
	chartSettings.data.x = "x";
	chartSettings.data.order = null;
	chartSettings.data.groups = [];
	chartSettings.data.groups[0]=keys1;
	chartSettings.grid={
							y: {lines: [{value:0}]
								}
						};
	chartSettings.axis= {x: {type: "category"}};
	chartSettings.axis.y={label: "Failures Quantity"};
	keys2.unshift("x");
	preparedData.push(keys2);
	chartSettings.data.columns=preparedData;
 
	var chart = c3.generate(chartSettings);
    
	
//============= Failured components by contract ======================================	
	var nestC = d3.nest()
	.key(function(d) { return d.Contract; })
	.key(function(d) { return d.Fcomponent; })
	.rollup(function(d){
						return d3.sum(d,function(g){return +g.Qty})
						});
	
	
	 var mydataC = nestC.map(csv);
		
     var keysC1=d3.keys(d3.nest().key(function(d){return d.Contract; }).map(csv));
 
     var keysC2=d3.keys(d3.nest().key(function(d){return d.Fcomponent; }).map(csv));
  
     var preparedDataC=keysC1.map(function(d1){
    	 var tmp= keysC2.map(function(d2){
	           		return (typeof mydataC[d1][d2] === 'undefined') ? 0 : mydataC[d1][d2] ; 
	 				});
	     tmp.unshift(d1);  
    	 return tmp;
     });
     
 
	var chartSettingsC={};
	chartSettingsC.bindto = "#chart2";
	chartSettingsC.legend= {position: "right"};
	chartSettingsC.data = {type:'bar'};
	chartSettingsC.data.x = "x";
	chartSettingsC.data.groups = [];
	chartSettingsC.data.groups[0]=keysC1;
	chartSettingsC.grid={
							y: {lines: [{value:0}]
								}
						};
	chartSettingsC.axis= {x: {type: "category"}};
	chartSettingsC.axis.y={label: "Failures Quantity"};
	keysC2.unshift("x");
	preparedDataC.unshift(keysC2);
	chartSettingsC.data.columns=preparedDataC;
 
	var chartC = c3.generate(chartSettingsC);
	
	
	//============= Failures responsibility ======================================	
	var nestResp = d3.nest()
	.key(function(d) { return d.Responsibility; })
	.key(function(d) { return d.Contract; })
	.rollup(function(d){
						return d3.sum(d,function(g){return +g.Qty})
						});
	
	
	 var mydataResp = nestResp.map(csv);
		
     var keysResp1=d3.keys(d3.nest().key(function(d){return d.Responsibility; }).map(csv));
 
     var keysResp2=d3.keys(d3.nest().key(function(d){return d.Contract; }).map(csv));
  
     var preparedDataResp=keysResp1.map(function(d1){
    	 var tmp= keysResp2.map(function(d2){
	           		return (typeof mydataResp[d1][d2] === 'undefined') ? 0 : mydataResp[d1][d2] ; 
	 				});
	     tmp.unshift(d1);  
    	 return tmp;
     });
     
 
	var chartSettingsResp={};
	chartSettingsResp.bindto = "#chart-responsibility";
	chartSettingsResp.legend= {position: "right"};
	chartSettingsResp.data = {type:'bar'};
	chartSettingsResp.data.x = "x";
	chartSettingsResp.data.groups = [];
	chartSettingsResp.data.groups[0]=keysResp1;
	chartSettingsResp.grid={
							y: {lines: [{value:0}]
								}
						};
	chartSettingsResp.axis= {x: {type: "category"}};
	chartSettingsResp.axis.y={label: "Failures Quantity"};
	keysResp2.unshift("x");
	preparedDataResp.unshift(keysResp2);
	chartSettingsResp.data.columns=preparedDataResp;
 
	var chartResp = c3.generate(chartSettingsResp);
	
	
	

}) 

}

function prepareOptions(domelement,oplist){

	for (i=domelement.options.length-1; i>=0 ; i--){
		domelement.options.remove(i);
	}
	
	domelement.options.add(new Option("",""));
	oplist.forEach(function(opt){
						domelement.options.add(new Option(opt,opt));
	 				});
	
	
}
	

function prepareData(dim1,dim2,fdim,fvalue){
	
	var nest = d3.nest()
	.key(function(d) { return d[dim1]; })
	.key(function(d) { return d[dim2]; })
	.rollup(function(d){
						return d3.sum(d,function(g){return +g.Qty})
						});
	
	 var filteredData=origData.filter(function(row){
		 								return row[fdim]===fvalue;
	 										})
	
	 var mydata = nest.map(filteredData);
	 
	 var keys1=d3.keys(d3.nest().key(function(d){return d[dim1]; }).map(filteredData));
	
	 var keys2=d3.keys(d3.nest().key(function(d){return d[dim2]; }).map(filteredData));
	
	 
	 var preparedData=keys1.map(function(d1){
		 var tmp= keys2.map(function(d2){
	           		return (typeof mydata[d1][d2] === 'undefined') ? 0 : mydata[d1][d2] ; 
	 				});
	     tmp.unshift(d1);  
		 return tmp;
	 });

	 var chartData={};

	 	chartData.data={};
		chartData.data.x = "x";
		chartData.data.groups = [];
		chartData.data.groups[0]=keys1;
		
		chartData.axis= {x: {type: "category"}};

		keys2.unshift("x");
		preparedData.unshift(keys2);
		chartData.data.columns=preparedData;

	 return chartData;
 }	
	
	
	
	
	
//]]>
</script>

</div>
</body>
</html>