<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>



<body>
<div id="body">


<h2 style="text-align: center">
Rights for the user <span th:text="${user.description}+' - '+${user.role.getAuthority()}">[Pedro Perez]</span>
</h2>


 

<form action="#" th:action="@{/users/{id}/savefields(id=${user.id})}" th:object="${rights}" method="post">



<table class="pure-table pure-table-striped centered">
    <thead>
      <tr>
      	<th>Country</th>
        <th>Field</th>
        <th>Access</th>
      </tr>
    </thead>
    <tr th:each="right,rightStat : ${rights}">
    	<td th:text="${right.key.country}">[Country]</td>
    	<td th:text="${right.key.name}">[CA-123]</td>
        <td style="text-align:center"><input type="checkbox" th:name="${right.key.id}" th:checked="${right.value}"/></td>
      </tr>
</table>

<div style="text-align:center;margin:8px">
	<button type="submit" class="pure-button" >Save rights</button>
</div>
</form>

</div>

</body>

</html>
