<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>


<body>
<div id="body">

<br/>
<table class="pure-table pure-table-bordered centered" th:object="${user}">
	<tr>
		<td>Names</td>
        <td id="names" th:text="*{names}">Jhon</td>
    </tr>
    <tr>
    	<td>Surnames</td>
        <td id="surnames" th:text="*{surnames}">Ramirez</td>
    </tr>
    <tr>
    	<td>Email</td>
        <td id="email" th:text="*{email}">john.ramirez@borets.com</td>
    </tr>
    <tr>
    	<td>Role</td>
        <td th:text="*{role.authority}">Analyst</td>
    </tr>
    <tr>
    	<td>Rights</td>
        <td>
        	<ul>
        		<li th:each="f : *{fields}" th:text="${f.name}+ ' '">[Castilla]</li>
        	</ul>
        </td>
    </tr>
    <tr>
    	<td>Password</td>
        <td>
        	<form action="#" th:action="@{/user}" method="post">
   				<input type="text" th:value="*{password}" th:name="password"/>
   				<button type="submit" class="pure-button">Save password</button>
   			</form>
        </td>
    </tr>
</table>




</div>
</body>

</html>
