<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>


<body>
<div id="body">

<script>
	$(document).ready(function(){
    	$(".editbtn").click(function(){

			$("input[name='id']").attr("value",$(this).parent().siblings().filter("#id").text());
			$("input[name='names']").val($(this).parent().siblings().filter("#names").text());
			$("input[name='surnames']").val($(this).parent().siblings().filter("#surnames").text());
			$("input[name='email']").val($(this).parent().siblings().filter("#email").text());
			
			var role = $(this).parent().siblings().filter("#role").text();
			$("#role option[value="+role+"]").prop('selected', true);
			
			$("input[name='password']").val($(this).parent().siblings().filter("#password").text());
					
			var isblocked=$(this).parent().siblings().filter("#isblocked").children("input").prop("checked");
			$("input[name='isblocked']").prop("checked", isblocked);
			
			$("button[name='save']").html("Save changes");
	
			//remove old error messages
			$("ul#errors").remove();

		});
    	$(".clearbtn").click(function(){

			$("input[name='id']").attr("value",0);
			$("input[name='names']").val("");
			$("input[name='surnames']").val("");
			$("input[name='email']").val("");
			$("#role option[value='']").prop('selected', true);
			$("input[name='password']").val("");
			$("input[name='isblocked']").prop('checked',false);
			$("button[name='save']").html("Add User");
	
			//remove old error messages
			$("ul#errors").remove();
    	});
	});
</script>

<div class="centered" style="max-width:1100px">

<div class="legend">Add/Update user</div>
 	<form class="pure-form pure-form-stacked" action="#" th:action="@{users/save}" th:object="${user}" method="post">
		<input hidden="hidden" th:field="*{id}" />



	<fieldset>
	
	<div class="centered" style="width:90%">
	
	<ul id="errors" class="list-unstyled" th:if="${#fields.hasErrors('*')}">
    	<li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerror : fielderror">
        	<span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> :
        	<span th:text="${e.message}">The error message</span>
    	</li>
	</ul>
	
	
	<div class="section group">
		<div class="col span_2">
			<label for="names">Names</label>
			<input class="pure-u-1" type="text" th:field="*{names}" th:errorclass="fieldError" />
		</div>
		<div class="col span_2">
			<label for="surnames">Surnames</label>
			<input class="pure-u-1" type="text" th:field="*{surnames}" th:errorclass="fieldError" />
		</div>
		<div class="col span_3">
			<label for="email">Email</label>
			<input class="pure-u-1" type="text" th:field="*{email}" th:errorclass="fieldError" required="required"/>
		</div>
		<div class="col span_2">
			<label>Role</label>
			<select class="pure-u-1" th:field="*{role}">
				<option value=""></option>
				<option th:each="role : ${allRoles}"
						th:value="${role}"
						th:text="${role.authority}">
				</option>        					
		    </select>
	    </div>
		<div class="col span_2">
		    <label>Password</label>
			<input class="pure-u-1" type="text" th:field="*{password}" th:errorclass="fieldError" />
		</div>
		<div class="col span_1">
			<label>Blocked?</label>
			<input class="pure-u-1 checkbox-custom" type="checkbox" th:field="*{isblocked}" th:errorclass="fieldError" />
		</div>

	</div>
	
	

		<button type="submit" class="pure-button" name="save" th:text="*{id == 0}? 'Add User' : 'Save changes'">Add Field</button>
        <input type="button" class="pure-button" name="reset" value="Reset"/>
        </div>
</fieldset>
	</form>
	



</div>		




  <table class="pure-table pure-table-striped centered">
  <caption>List of users</caption>
    <thead>
      <tr>
        <th>id</th>
        <th>Names</th>
        <th>Surnames</th>
        <th>Email</th>
        <th>Role</th>
        <th>Rights</th>
        <th>Password</th>
        <th>Blocked?</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="user : ${allUsers}">
        <td id="id" th:text="${user.id}">123</td>
        <td id="names" th:text="${user.names}">Jhon</td>
        <td id="surnames" th:text="${user.surnames}">Ramirez</td>
        <td id="email" th:text="${user.email}">john.ramirez@borets.com</td>
        <td id="role" hidden="hidden"  th:text="${user.role}">[Hidden]</td>
        <td th:text="${user.role.authority}">Analyst</td>
        <td><a th:href="@{#users/{id}/fields(id=${user.id})}" class="ajax">>>></a></td>
        <td id="password" th:text="${user.password}">[Big_Secret]</td>
        <td id="isblocked"><input disabled="disabled" type="checkbox" th:checked="${user.isblocked}"/></td>
        <td>
       		<input type="button" class="btn btn-smaller editbtn" value="Edit"/>
        </td>
      </tr>
    </tbody>
  </table>


<script type="text/javascript">
//<![CDATA[
	if (window.location.hash != "#users"){
		ignorehashchange=true
		window.location.hash="users";
		
	}
	//]]>
</script>



</div>
</body>

</html>
