<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>



<body>
<div id="body">

<script type="text/javascript"
  th:src="@{/webjars/multifilter.min.js}">
</script>


<script>
	$(document).ready(function(){
    	$(".editbtn").click(function(){

			$("input[name='id']").attr("value",$(this).parent().siblings().filter("#id").text());
						
			var field_id = $(this).parent().siblings().filter("#field_id").text();
			$("select[name='field'] option[value="+field_id+"]").prop('selected', true);
			// set up prefixes
			setPrefixes(field_id);
			
			var sprefix = $(this).parent().siblings().filter("#prefix").text();
			$("select[name='prefix'] option[value='"+sprefix+"']").prop('selected', true);
			
			$("input[name='number']").val($(this).parent().siblings().filter("#number").text());
			$("input[name='suffix']").val($(this).parent().siblings().filter("#suffix").text());
			
			var casingOD = $(this).parent().siblings().filter("#casingOD").text();
			$("select[name='casingOD'] option[value='"+casingOD+"']").prop('selected', true);
			
			$("input[name='casingWeight']").val($(this).parent().siblings().filter("#casingWeight").text());
			

			
			$("button[name='save']").html("Save changes");
	
			//remove old error messages
			$("ul#errors").remove();
			
			
			
		});
    	$(".clearbtn").click(function(){

			$("input[name='id']").attr("value",0);
			$("select[name='field'] option[value='']").prop('selected', true);
			$("select[name='prefix'] option[value='']").prop('selected', true);			
			$("input[name='number']").val("");
			$("input[name='suffix']").val("");
			$("select[name='casingOD'] option[value='']").prop('selected', true);
			$("input[name='casingWeight']").val("");
			
			$("button[name='save']").html("Add Well");
	
			//remove old error messages
			$("ul#errors").remove();
			clearPrefixes();
    	});
	});
</script>

<!--
<script th:inline="javascript">
 var fields= /*[[${allFields}]]*/ null;

</script>
-->

<div class="centered" style="max-width:1100px" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_AP_ENGINEER')">


 	<form class="pure-form pure-form-stacked" action="#" th:action="@{wells/save}" th:object="${well}" method="post">

		<div class="legend">Add/Update well</div>
		<fieldset>
			
			<ul id="errors" class="list-unstyled" th:if="${#fields.hasErrors('*')}">
		    	<li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerror : fielderror">
		        	<span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> :
		        	<span th:text="${e.message}">The error message</span>
		    	</li>
			</ul>
	        		
	        <div class="centered" style="width:95%">	
        			<div class="section group">
        			
						<div class="col span_1">
							<label for="field">Well ID</label>
							<input readonly="readonly" class="pure-input-1" th:field="*{id}" />	
						</div>
						
						<div class="col span_2">
							<label for="field">Field</label>
	        				<select class="pure-input-1" th:field="*{field}" onchange="setPrefixes(this.value)">
        					 	<option value=""></option>
            					<option th:each="f : ${allFields}"
            							th:value="${f.id}"
            							th:text="${f.name}">
            					</option>
	            			</select>
	            		</div>
	            		<div class="col span_2">
	            			<label>Prefix</label>
	            			<select class="pure-input-1" th:field="*{prefix}" id="prefix-select">
        					</select>
        				</div>
        				<div class="col span_1">
        					<label>Number</label>
        					<input class="pure-input-1" type="number" th:field="*{number}"/>
        				</div>
        				<div class="col span_1">
        					<label>Suffix</label>
        					<input class="pure-input-1" type="text" th:field="*{suffix}"/>
        					
	            		</div>
	            		
	            		<div class="col span_2">
        					<label>Casing OD, in</label>
        					<select class="pure-input-1" th:field="*{casingOD}">
        						<option value=""></option>
        						<option value="4-1/2">4-1/2"</option>
        						<option value="5">5"</option>
        						<option value="5-1/2">5-1/2"</option>
        						<option value="6">6"</option>
        						<option value="6-5/8">6-5/8"</option>
        						<option value="7">7"</option>
        						<option value="7-5/8">7-5/8"</option>
        						<option value="8-5/8">8-5/8"</option>
        						<option value="9-5/8">9-5/8"</option>
        						<option value="9-3/4">9-3/4"</option>
        						<option value="9-7/8">9-7/8"</option>
        						<option value="10-3/4">10-3/4"</option>
        						<option value="11-3/4">11-3/4"</option>
        						<option value="11-7/8">11-7/8"</option>
        						<option value="13-3/8">13-3/8"</option>
        						<option value="13-1/2">13-1/2"</option>
        						<option value="13-5/8">13-5/8"</option>
        					</select>
        					
	            		</div>
	            		
	            		<div class="col span_2">
        					<label>Casing weight, lb/ft</label>
        					<input class="pure-input-1" type="number" step="0.01" min="0" th:field="*{casingWeight}"/>
	            		</div>
	            		
	            	</div>
	            	
							<div class="group">
								<div class="col span_2">
									<button class="pure-button pure-input-1" name="save" th:text="*{id == 0}? 'Add Well' : 'Save changes'">Add Field</button>
	        					</div>
	        					<div class="col span_2">
	        						<input type="button" class="pure-button pure-input-1 clearbtn" name="reset" value="Reset"/>
	        					</div>
	        				</div>	
			
	            	
			</div>
        				

		</fieldset>
	</form>
	
</div>

<br/>

<div class="group centered" style="width:40%">
	<div class="col span_4">
      <input autocomplete='off' class="filter" name='contract' placeholder='Country' data-col='Country'/>
    </div>
  	<div class="col span_4">
      <input autocomplete='off' class='filter' name='field' placeholder='Field' data-col='Field'/>
    </div>
    <div class="col span_4">
      <input autocomplete='off' class='filter' name='well' placeholder='Well' data-col='Well'/>
    </div>
</div>






  
  <table class="pure-table pure-table-striped centered">
  	<caption>List of wells</caption>
    <thead>
      <tr>
        <th>Country</th>
        <th>Field</th>
        <th>Well</th>
        <th>CasingOD,in</th>
        <th>Casing weight, lb/ft</th>
        <th>History</th>
        <th sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_AP_ENGINEER')">Create Installation</th>
        <th sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_AP_ENGINEER')">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="well : ${allWells}">
       
       
        <td id="country" th:text="${well.field.country}">Colombia</td>
        <td id="field" th:text="${well.field.name}">Chichimene</td>
        <td th:text="${well.name}">CH-012</td>
        <td id="casingOD" th:text="${well.casingOD}">[7-1/2\"]</td>
        <td id="casingWeight" th:text="${well.casingWeight}">[4.5]</td>
        <td style="text-align:center">
        	<a class="ajax" href="installations.html" th:href="@{#wells/{wellid}/installations(wellid=${well.id})}">
        		>>>
        	</a>
        </td>
        <td sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_AP_ENGINEER')" style="text-align:center">
        	<a class="ajax" href="installation.html" th:href="@{#wells/{wellid}/newinstallation(wellid=${well.id})}">
        		>>>
        	</a>
        </td>  
        <td sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_AP_ENGINEER')">
        	<input type="button" class="btn btn-primary btn-xs editbtn" value="Edit"/>
        	
        	 
        </td>
        <td hidden="hidden" id="id" th:text="${well.id}">123</td>
      	<td hidden="hidden" id="field_id" th:text="${well.field.id}">123</td>
      	<td hidden="hidden" id="prefix" th:text="${well.prefix}">[CA]</td>
        <td hidden="hidden" id="number" th:text="${well.number}">[123]</td>
        <td hidden="hidden" id="suffix" th:text="${well.suffix}">[H]</td>
      </tr>
    </tbody>
  </table>

	<script type='text/javascript'>
    	//<![CDATA[
      	$(document).ready(function() {
        	$('.filter').multifilter()
      	})
  		//]]>
  	</script>
  	
  	<script th:inline="javascript">
  	//<![CDATA[
  	var prefixes = /*[[${prefixes}]]*/null;
  	var select=document.getElementById("prefix-select");
  	function setPrefixes(field_id){
  		var selectedPrefixes=prefixes[field_id].split("/");
  		
		clearPrefixes();
  		var i;

  		select.options.add(new Option("",""));
  		for (i=0 ; i < selectedPrefixes.length ; i++){
  			var prefix= new Option(selectedPrefixes[i],selectedPrefixes[i]);
  			select.options.add(prefix);
  			
  		}
  		
  	}
  	function clearPrefixes(){
  		for (i=select.options.length-1; i>=0 ; i--){
   			select.options.remove(i);
   		}
  	}
	//]]>
  	</script>

</div>
</body>

</html>
