/* 

Taken from http://www.responsivegridsystem.com/

*/




/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWELVE  */
.span_12 {
	width: 100%;
}

.span_11 {
  	width: 91.58%;
}
.span_10 {
  	width: 83.16%;
}

.span_9 {
  	width: 74.75%;
}

.span_8 {
  	width: 66.33%;
}

.span_7 {
  	width: 57.91%;
}

.span_6 {
  	width: 49.5%;
}

.span_5 {
  	width: 41.08%;
}

.span_4 {
  	width: 32.66%;
}

.span_3 {
  	width: 24.25%;
}

.span_2 {
  	width: 15.83%;
}

.span_1 {
  	width: 7.416%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
    
    .span_1, .span_2, .span_3, .span_4, .span_5, .span_6, .span_7, .span_8, .span_9, .span_10 .span_11, .span_12 {
	width: 100%; 
	}
}